.page-node-14 #inhoud article,
.page-node-14 .contactleft,
.page-node-16 #inhoud article,
.page-node-16 .contactleft {width: 50%;*width: 48.28%;float:left;padding-right:20px;}

.page-node-14 .webform-client-form input[type=text],
.page-node-16 .webform-client-form input[type=text],
.page-node-14 .webform-client-form input[type=email],
.page-node-16 .webform-client-form input[type=email] {width:100%;font-size:10px;color:#808080;border:0;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;height:18px;line-height:18px;margin:5px 0;padding:0 5px;-webkit-box-shadow:inset 0 2px 5px 2px #E3E3E3;box-shadow:inset 0 2px 5px 2px #E3E3E3;}
.page-node-14 .webform-client-form textarea,
.page-node-16 .webform-client-form textarea {width:100%;font-size:10px;color:#808080;border:0;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;height:100px;line-height:18px;margin:5px 0;padding:0 5px;-webkit-box-shadow:inset 0 2px 5px 2px #E3E3E3;box-shadow:inset 0 2px 5px 2px #E3E3E3;}
.page-node-14 .webform-client-form,
.page-node-16 .webform-client-form {width:50%;}
.page-node-14 .webform-client-form .form-item ,
.page-node-16 .webform-client-form .form-item {margin:0;}
.page-node-14 .webform-client-form input#edit-submitted-telefoonnummer,
.page-node-16 .webform-client-form input#edit-submitted-telefoonnummer {float:left;-webkit-border-radius:2px 0 0 2px;-moz-border-radius:2px 0 0 2px;border-radius:2px 0 0 2px;}
#edit-submitted-schaderapport .form-submit {background:#e5e5e5 url(../images/submit-form.png) no-repeat center;border:0;font-size:0;float:right;float:left;-webkit-border-radius:0 2px 2px 0;-moz-border-radius:0 2px 2px 0;border-radius:0 2px 2px 0;border-left:1px solid #cbcbcb;}
/*.page-node-14 .webform-client-form #webform-component-telefoonnummer,*/
#edit-submitted-schaderapport #edit-submitted-schaderapport-upload {width:93%;float:left;}
.page-node-14 .webform-client-form #edit-submit,
#cloud .form-submit,
#cloud #edit-submit--2,
.page-node-14 .webform-client-form .form-submit,

.page-node-16 .webform-client-form #edit-submit,
.page-node-16 .webform-client-form .form-submit {background:#cd1619 url(../images/arrow-white.png);color:#fff;background-image:url(../images/arrow-right.png), -webkit-gradient(linear, left top, right top,	color-stop(0, #F31831),	color-stop(1, #B41424));background-image:url(../images/arrow-right.png), -o-linear-gradient(right, #F31831 0%, #B41424 100%);background-image:url(../images/arrow-right.png), -moz-linear-gradient(right, #F31831 0%, #B41424 100%);background-image:url(../images/arrow-right.png), -webkit-linear-gradient(right, #F31831 0%, #B41424 100%);background-image:url(../images/arrow-right.png), -ms-linear-gradient(right, #F31831 0%, #B41424 100%);background-image:url(../images/arrow-right.png), linear-gradient(to right, #F31831 0%, #B41424 100%);display:inline-block;padding:0 24px 0 10px;text-decoration:none;-webkit-border-radius: 11px;-moz-border-radius: 11px;border-radius: 11px;border:1px solid #b61c32;background-repeat:no-repeat;background-position:right 10px center, 0;margin:20px 0;transition:padding-right 1s;width:auto;float:right;-webkit-box-shadow:none;box-shadow:none;line-height:15px;font-size: 11px;}
.page-node-14 .webform-client-form .form-submit,
.page-node-16 .webform-client-form .form-submit {float:left;}
.page-node-14 #block-multiblock-1 h2,
.page-node-14 #block-multiblock-1 article.node-16 header,
.page-node-14 #block-multiblock-1 .field-name-body,
.page-node-16 #block-multiblock-1 h2,
.page-node-16 #block-multiblock-1 article.node-16 header,
.page-node-16 #block-multiblock-1 .field-name-body {display:none;}
.page-node-14 #block-multiblock-1 .webform-client-form,
.page-node-16 #block-multiblock-1 .webform-client-form {width:100%;}

