@media handheld, only screen and (max-width: 1060px) {
    #header #om-menu-menu-hoofdmenu-ul-wrapper > ul > li > a {padding:0 15px;}
    .page-node-260 .region-headersliderleeg .foto {
            background-position: -640px !important;
    }
}

@media handheld, only screen and (max-width: 950px) {
    /* mobiel menu */
    #header .region-hoofdmenu .om-menu {margin:0;width:100%;background:#fff;transition:all 0.5s;}
    #header .region-hoofdmenu .om-menu.non-active {height:0 !important;overflow:hidden;}
    #header .region-hoofdmenu .om-menu.non-active li {opacity:0;transition:opacity 0.5s;}
    #header .region-hoofdmenu .om-menu li {width:100%;opacity:1;transition:opacity 1s, 2s;}
    #header .region-hoofdmenu .om-menu li:hover {background:none;}
    #header .region-hoofdmenu .om-menu li a {width:100%;text-align:center;display:block;color:#fff;font-size:12px;}
    #header .region-hoofdmenu .om-menu li a.active,
    #header .region-hoofdmenu .om-menu li a:hover {color:#000;background:url(../images/menu-li-hover.png) repeat-x;}
    #header .region-hoofdmenu .om-menu .om-maximenu-content {display:none !important;}
    #hamburger {display:block;}
    #header .c-12 {margin:0;padding:0;}
    #header {padding:0;}
    #header .region-hoofdmenu .om-menu {top:43px;background:#cd1619 url(../images/footer-bg2.png);background-position: -150px -410px;background-repeat: no-repeat;}
    #header .region-hoofdmenu .om-menu li.first {background:url(../images/dropdown-bg.png) repeat-x top;}
    .header ul li a {font-size: 14px;}
    #header .grid {padding-left:0;}
    #header {
        height: 60px;
        ul li a {
            height:37px;
            line-height:37px;
        }
        .region-hoofdmenu {
            .om-menu {
                .plus {
                    display:inline-block;
                }
            }
        }
    }
}

@media handheld, only screen and (max-width: 767px) {
	.view-projecten .views-row,
    .view-nieuws .views-row {height:auto;}
    .moviewrap {display:none;}
	.grid {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
    #map-canvas {height:240px;}
	
	[class*='c-'],
    html .not-front .view-projecten .views-row,
    html .not-front .view-nieuws .views-row,
    #footer .region-adres,
    #footer .region-adres header,
    #footer .region-adres .webform-client-form,
    .view-testimonials .views-field-field-video,
    .view-testimonials .fieldset-c-1,
    .view-testimonials .fieldset-tekst,
    .view-testimonialsuithetverleden .views-slideshow-cycle-main-frame-row-item,
    .node-type-nieuws .field-name-body,
    .node-type-nieuws article .field-name-field-foto-s2,
    .view-nieuws .views-row,
    .page-node-14 .contactleft,
    .view-projecten-categorie .views-row,
    #block-views-laatste-2-berichten-block,
    #block-views-nieuws-block-1 h2,
    #block-views-nieuws-block-1,
    #footer .region-adres .field-name-body,
    .view-projecten .views-row,
    .view-nieuws .views-row,
    .view-intro-s,
    .node-type-projecten article .field-name-body, 
    .node-type-nieuws .field-name-body,
    .page__title,
    .node-type-projecten article .field-name-field-foto-s, 
    .node-type-nieuws article .field-name-field-foto-s2,
    .views-slideshow-controls-text,
    .view-vacatures,
    .page-node-14 #inhoud article, .page-node-14 .contactleft,
    .page-node-52 .views-field-body,
    .page-node-52 .views-field-field-foto2,
    .node-type-nieuws article .field-name-field-video2 {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
    .node-type-nieuws article .field-name-field-video2 iframe {min-height:350px;}
    .page-node-52 .views-fieldset .views-field-body,
    .page-node-52 .views-fieldset .views-field-field-foto2 {padding-left:0;padding-right:0;}
    .page-node-52 .view-laatste-2-berichten .views-field-body {padding-left:0;}

    /* verwijderen */
    #cloud,
    #contactfloat,
    #footer .sitemap,
    #footer .projecten,
    #footer .vrij,
    #footer .logos {display:none;}

    /* nieuw formaat */
    #header-slider {
        //height:180px;
        padding-top:36px;
        .views-slideshow-cycle-main-frame-row-item{
            padding:10px;
        }
        .header-slider-inner .header-slider-tekst{
            margin-top:190px;
        }
    }
    #logo {margin-top:0;text-align:center;}
    #logo object {width:80%;height:80px;}
    #block-views-nieuws-block-1 h2 {padding:0;}
    .front .view-nieuws .fieldset-date {padding-left:0;width: 16.667%;*width: 14.95%;}
    .front .view-nieuws .fieldset-tekst {width: 83.333%;*width: 81.62%;}
    .front .view-nieuws .views-row {padding-left:0;}
    #footer .region-adres .field-name-body,
    #footer .region-adres header {text-align:center;}
    #footer .innerfooter {padding-top:9px;}
    #footer .region-adres .webform-client-form textarea {height: 44px;}
    #footer .region-adres {margin:0 0 3px 0}
    #footerbottom .footerbottom {margin:0;text-align:center;}
    #footerbottom {height:auto;}
    .region-headersliderleeg, 
    .region-headerslider,
    .region-headerslider .foto, 
    .region-headersliderleeg .foto {height:108px;}
    .page-node-14 .webform-client-form {width:100%;}

    .grid.inhoud {padding-bottom: 190px;}
    .view-cursussen-en-workshops .views-row {height: 510px;}
    #lasttestimonial .c-12 {padding:0;}
    #footer .region-adres {padding:0;}
    .front .view-projecten-categorie .views-field-body {height:auto;}
    body.not-front .views-field-title h1 {line-height: 20px;padding-top:46px;}
    #popupmelding .popuptekst {
        padding:10px;
    }
    #popupmelding .popupinhoud {
        background-size: 2px 61%;
    }
    #popupmelding .popupboven {
        height:auto;
    }
    #popupmelding .popuponder {
        background-position: 80% 90%;
    }
    .node-251 {
        width:100%;
        padding:0 20px;
    }

    #block-webform-client-block-252 {
        width:100%;
        padding:0 20px;
    }
}
@media handheld, only screen and (max-width: 560px) {
    .page-vacatures #inhoud .view-vacatures .view-header {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 0px;
        height: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

@media handheld, only screen and (max-width: 500px) {
    .view-testimonials .views-field-field-video-link iframe {height:220px;}
}