@import "compass";

// @font-face {
//     font-family: 'neo_sansregular';
//     src: url('../font/neo-sans-1361508444-webfont.eot');
//     src: url('../font/neo-sans-1361508444-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../font/neo-sans-1361508444-webfont.woff') format('woff'),
//          url('../font/neo-sans-1361508444-webfont.ttf') format('truetype'),
//          url('../font/neo-sans-1361508444-webfont.svg#neo_sansregular') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }
@import url('https://fonts.googleapis.com/css?family=Armata&display=swap');

p,
body {
    color: #808285;
    font-size: 12px;
    font-style: normal;
    font-family: 'Armata', sans-serif;
}

.view-aantal-aardbevingen {
    float: left;
    margin-right: 110px;
    width: 726px;
    height: 722px;
    background-image: url(../images/groningen2.jpg);
    background-size: cover;
    background-position: top left;
}

.view-aantal-aardbevingen .roderondje {
    position: absolute;
    background-image: url(../images/rode-bal.png);
    width: 56px;
    height: 56px;
    background-size: cover;
    background-position: top left;
    text-align: center;
    line-height: 56px;
    color: #fff;
    font-size: 19px;
}

#block-views-aantal-aardbevingen2-block {}

body,
html {
    height: 100%;
}

h1,
h2,
h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: #cd1619;
}

h1 {
    font-size: 25px;
}

p {
    margin: 13px 0;
}

#contactfloat {
    width: 270px;
    height: 209px;
    background: url(../images/contact-bg.png) no-repeat;
    font-size: 10px;
    padding: 27px;
    position: fixed;
    left: -213px;
    z-index: 16;
    top: 490px;
    transition: left 2s;
    line-height: 14px;
    padding-left: 37px;
}

#contactfloat:hover {
    left: -19px;
}

#contactfloat a {
    color: #cd1619;
}

#contactfloat h3 {
    margin: 10px 0;
    color: #cd1619;
    font-size: 12px;
}

.rood,
a {
    color: #cd1619;
}

#header {
    height: 73px;
    background: url('../images/header-bg.png') repeat-x;
    background-position: bottom;
    position: fixed;
    top: 0;
    z-index: 30;
    width: 100%;
}

.logged-in #header {
    top: 64px;
}

.block {
    margin: 0;
}

#header .grid {
    overflow: visible;
}

#header ul {
    margin: 0;
    padding: 0;
}

#header ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
    list-style-image: none;
    overflow: hidden;
}

#header ul li a {
    color: #fff;
    font-family: 'Armata', sans-serif;
    ;
    text-decoration: none;
    font-size: 13px;
    height: 57px;
    line-height: 57px;
    display: block;
    padding: 0 26px;
    font-weight: bold;
}

#header ul ul .views-row-odd .views-field.views-field-title,
#header ul ul .views-row-odd .views-field-field-pagina-link {
    margin-right: 20px;
}

#header ul ul .views-field.views-field-title,
#header ul .om-maximenu-middle .block-menu .menu__link,
#header ul ul .views-field.views-field-field-pagina-link {
    background: url(../images/dropdown-bullet.png) left center no-repeat;
    padding-left: 15px;
    white-space: nowrap;
}

#header ul ul li {
    width: 100%;
    float: left;
}

#header ul li:hover {
    background: url(../images/menu-hover-right.png) repeat-y right;
    overflow: visible;
}

#header ul li:hover a {
    background: url(../images/menu-hover-left.png) repeat-y left;
}

#header ul li:hover ul li a {
    background: none;
}

/*#header ul li:hover ul {display:block;}*/
#header ul .om-maximenu-content {
    position: absolute;
    background: #cd1619 url(../images/footer-bg2.png);
    background-position: -970px -580px;
    -webkit-border-radius: 0 0 11px 11px;
    -moz-border-radius: 0 0 11px 11px;
    border-radius: 0 0 11px 11px;
    overflow: hidden;
    top: 57px;
    left: 0;
}

#header ul .om-maximenu-middle {
    list-style-position: inside;
    background: url(../images/dropdown-bg.png) repeat-x top;
}

#header ul .om-maximenu-middle .view,
#header ul .om-maximenu-middle .block-menu {
    padding: 20px 28px 10px 30px;
    float: left;
}

.om-maximenu ul.om-menu {
    height: auto;
}

.om-maximenu ul.om-menu li.om-leaf {
    height: auto;
}

.om-maximenu-no-style .om-maximenu-middle-right {
    padding: 0;
}

#header ul .edit-block,
#header ul .om-maximenu-open {
    display: none;
}

#header ul ul li {
    color: #fff;
    font-size: 12px;
}

#header ul ul li:hover {
    background: none;
}

#header ul ul li span {
    white-space: nowrap;
    display: block;
    overflow: visible;
}

#header ul ul li a {
    padding: 0;
    height: 30px;
    line-height: 30px;
}

#header ul ul li a:hover {
    text-decoration: underline;
}

#header .om-maximenu .om-maximenu-content {
    min-width: inherit;
}

#header {
    .region-hoofdmenu {
        .om-menu {
            .om-leaf {
                position: relative;
            }

            .plus {
                display: none;
                color: white;
                font-size: 27px;
                position: absolute;
                top: 0px;
                right: 0px;
                width: 60px;
                height: 37px;
                line-height: 37px;
                text-align: center;
            }

            .om-maximenu-content {
                &.open {
                    display: inline-block !important;
                    position: relative;
                    top: 0;

                    .block-menu-id-menu-energiebesparen-menu {
                        width: 100%;
                    }

                    .om-maximenu-middle .view {
                        padding: 10px 0 0 0;
                    }

                    ul .views-field.views-field-field-pagina-link,
                    .om-maximenu-middle .block-menu .menu__link,
                    li.first,
                    ul .views-field.views-field-title {
                        background-image: none;
                    }
                }
            }
        }
    }
}


#header-slider {
    height: 580px;
    width: 100%;
    /*background:url(../images/boerderij.jpg);*/
    background-size: cover;
    background-position: center;
    padding-top: 58px;
}

#header-slider .grid {
    height: 100%;
    position: relative;
}

#logo {
    margin-top: 30px;
}

#logo img {
    display: none;
}

#logo object {
    pointer-events: none;
    cursor: pointer;
}

#logo a {
    display: block;
}

#cloud {
    width: 294px;
    height: 493px;
    background: url(../images/cloud2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 30px;
    padding: 40px 34px 40px 29px;
    color: #fff;
    font-size: 12px;
}

#cloud.energie {
    height: 502px;
}

#cloud a {
    color: #000;
}

#cloud h2 {
    margin: 0;
    font-size: 17px;
    line-height: 17px;
}

#cloud h2 a {
    color: #fff;
    text-decoration: none;
}

#cloud input {
    width: 100%;
    font-size: 10px;
    color: #808080;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 18px;
    line-height: 18px;
    margin: 5px 0;
    padding: 0 5px;
    -webkit-box-shadow: inset 0 2px 5px 2px #E3E3E3;
    box-shadow: inset 0 2px 5px 2px #E3E3E3;
}

#cloud form {
    width: 100%;
}

#cloud input#edit-submitted-telefoonnummer {
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
}

#cloud .form-submit {
    background: #e5e5e5 url(../images/submit-form.png) no-repeat center;
    border: 0;
    font-size: 0;
    float: right;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    border-left: 1px solid #cbcbcb;
}

#cloud #edit-submitted-schaderapport-upload {
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #fff;
}

/*#cloud #webform-component-telefoonnummer {width:93%;float:left;}*/
/*#cloud #edit-actions {width:7%;float:left;}*/
#cloud .form-item {
    margin: 0;
}

#cloud p,
#cloud form {
    float: left;
}

#cloud h3 {
    color: #fff;
}

.views_slideshow_controls_text a,
.view-projecten .views-row .views-field-view-node a,
.view-projecten-overzicht .views-field-field-pagina-link a {
    color: #fff;
    background-image: url(../images/arrow-right.png), -webkit-gradient(linear, left top, right top, color-stop(0, #F31831), color-stop(1, #B41424));
    background-image: url(../images/arrow-right.png), -o-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right.png), -moz-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right.png), -webkit-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right.png), -ms-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right.png), linear-gradient(to right, #F31831 0%, #B41424 100%);
    display: inline-block;
    padding: 0 24px 0 10px;
    text-decoration: none;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    border: 1px solid #b61c32;
    background-repeat: no-repeat;
    background-position: right 10px center, 0;
    transition: padding-right 1s;
}

.view-projecten-overzicht .views-field-field-pagina-link,
.view-projecten-overzicht .views-field-field-pagina-link a {
    margin: 20px 0;
}

.view-projecten-overzicht .views-field-field-icon {}

.views-slideshow-controls-text-previous a {
    background-image: url(../images/arrow.png), -webkit-gradient(linear, left top, right top, color-stop(0, #F31831), color-stop(1, #B41424));
    background-image: url(../images/arrow.png), -o-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow.png), -moz-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow.png), -webkit-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrowt.png), -ms-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow.png), linear-gradient(to right, #F31831 0%, #B41424 100%);
    padding: 0 10px 0 24px;
    background-position: left 10px center, 0 0;
    transition: padding-left 1s;
}

.views-slideshow-controls-text-pause {
    display: none;
}

.views-slideshow-controls-text-next {
    float: right;
}

.views-slideshow-controls-text {
    padding-right: 20px;
}


#inhoud {
    padding-bottom: 424px;
}

#footer {
    background: url(../images/footer-bg.png);
    background-repeat: repeat-x;
    height: 339px;
    width: 100%;
    position: relative;
    margin-top: -363px;
    background-position: 0 -1px;
    color: #fff;
    font-size: 12px;
}

#footer a {
    color: #fff;
}

#footer .innerfooter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 318px;
    padding-top: 32px;
    background: url(../images/footer-bg2.png);
    background-repeat: no-repeat;
    background-position: center -270px;
    margin-top: 13px;
}

#pusher {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 43px;
}

#footer h3,
#footer h2 {
    font-family: 'Armata', sans-serif;
    ;
    font-size: 12px;
    color: #fff;
    margin: 0;
    line-height: 1em;
}

#footer h2 a {
    font-family: 'Armata', sans-serif;
    ;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

#footer .formulier form {
    margin-top: 44px;
}

#footer .sitemap ul,
#footer .projecten ul {
    padding-left: 15px;
}

#footer .region-adres .webform-client-form input.form-submit {
    float: right;
    width: auto;
    background: none;
    border: 0;
    color: #fff;
    font-style: italic;
    padding: 0;
    font-weight: bold;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#footer .region-adres .webform-client-form textarea {
    width: 100%;
    font-size: 10px;
    color: #808080;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 67px;
    margin: 5px 0;
    padding: 5px;
}

#footer .footertop {
    height: 240px;
}

#footer .footermiddle {
    height: 54px;
}

#footer .footermiddle .contentvak,
#footer .footermiddle .contentvak img {
    vertical-align: middle;
}

#footer .logos img {
    margin-right: 20px;
}

.foto #logo a {
    display: block;
}

object {
    pointer-events: none;
}

#footer .region-adres {
    width: 41.66%;
    *width: 39.95%;
    float: left;
    padding-right: 20px;
}

#footer .region-adres .field-name-body,
#footer .region-adres header {
    width: 41.66%;
    *width: 39.95%;
    float: left;
    padding-right: 20px;
    clear: left;
}

#footer .region-adres .webform-client-form {
    width: 58.33%;
    *width: 56.62%;
    float: left;
    padding-right: 20px;
    margin-top: 10px;
}

#footer .region-adres .webform-client-form input {
    width: 100%;
    font-size: 10px;
    color: #808080;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 18px;
    line-height: 18px;
    margin: 5px 0;
    padding: 0 5px;
    -webkit-box-shadow: inset 0 2px 5px 2px #E3E3E3;
    box-shadow: inset 0 2px 5px 2px #E3E3E3;
}

#footer .region-adres .webform-client-form .form-item {
    margin: 0;
}

#footerbottom {
    background: url(../images/footer-bottom-bg.png);
    background-repeat: repeat-x;
    height: 24px;
    width: 100%;
    position: relative;
    color: #fff;
    font-size: 12px;
}

#footerbottom .footerbottom {
    height: 24px;
    line-height: 24px;
    font-size: 10px;
}

#footerbottom .copyright {
    clear: left;
}

#footerbottom .madeby {
    clear: right;
}

#footerbottom .madeby {
    text-align: right;
}

#footerbottom a {
    color: #fff;
}

/* testimonials */

.view-testimonials .views-field-field-video {
    width: 58.33%;
    *width: 56.62%;
    float: left;
    padding-right: 20px;
    margin-top: 20px;
}

.view-testimonials .fieldset-c-1 {
    width: 8.33%;
    *width: 6.62%;
    float: left;
    padding-right: 20px;
    min-height: 1px;
}

.view-testimonials .fieldset-tekst {
    width: 33.33%;
    *width: 31.62%;
    float: left;
    padding-right: 20px;
}

.view-testimonials .views-field-field-video iframe {
    width: 100%;
    height: 350px;
}

.view-testimonials .views-field-title a {
    font-family: 'Ubuntu', sans-serif;
    color: #cd1619;
    text-decoration: none;
    font-weight: 700;
    font-size: 19px;
}

.view-testimonialsuithetverleden .views-slideshow-cycle-main-frame-row-item {
    width: 33.33%;
    *width: 31.62%;
    float: left;
    padding-right: 20px;
}

.view-testimonialsuithetverleden iframe {
    width: 100%;
    height: 197px;
}

.meertestimonials h2 {
    text-align: center;
    font-size: 19px;
    margin-bottom: 40px;
}

.meertestimonials {
    background: url(../images/texture.png);
    padding: 50px 0;
}

.meertestimonials .fieldset-linkset {
    position: relative;
    height: 197px;
    overflow: hidden;
}

.meertestimonials .fieldset-linkset .views-field-view-node a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    background: url(../images/black-trans-50.png);
    line-height: 197px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    opacity: 0;
}

.meertestimonials .fieldset-linkset .views-field-view-node a:hover {
    opacity: 1;
}

.meertestimonials .views-slideshow-controls-bottom {
    margin-top: 20px;
}

/* header slider */
.region-headerslider .foto,
.region-headersliderleeg .foto {
    height: 230px;
    width: 100%;
}

.region-headersliderleeg,
.region-headerslider {
    height: 230px;
    margin-bottom: 60px;
}

.views_slideshow_slide {
    width: 100%;
}

/* projecten */
.node-type-projecten article .field-name-body,
.node-type-nieuws .field-name-body,
.page-node-52 .views-field-body {
    width: 100%;
    float: left;
    padding-right: 0;
}

.node-type-projecten article .field-name-field-foto-s,
.node-type-nieuws article .field-name-field-foto-s2,
.node-type-nieuws article .field-name-field-video2,
.node-type-diensten-energiebesparen article .field-name-field-foto-s,
.page-node-52 .views-field-field-foto2 {
    width: 100%;
    float: left;
    margin: 30px 0;
}

.node-type-projecten article .field-name-field-foto-s .field-item,
.node-type-nieuws article .field-name-field-foto-s2 .field-item,
.node-type-nieuws article .field-name-field-video2 .field-item,
.node-type-diensten-energiebesparen article .field-name-field-foto-s .field-item,
.page-node-52 .views-field-field-foto2 .field-item {
    width: 20%;
    float: left;
    padding: 3px;
}

.over-fledderman-content .views-field-field-foto2 a {
    width: 20%;
    float: left;
    padding: 3px;
}

// .node-type-projecten img {
//     margin: 20px;
// }

.node-type-nieuws article .field-name-field-video2 .field-item {
    width: 100%;
}

.page-node-257.node-type-nieuws article .field-name-field-foto-s2,
.page-node-102.node-type-nieuws article .field-name-field-foto-s2 {
    width: 66.67%;
}

.node-type-projecten article .field-name-field-foto-s .field-item img,
.node-type-nieuws article .field-name-field-foto-s2 .field-item img,
.node-type-nieuws article .field-name-field-video2 .field-item img,
.page-node-52 .views-field-field-foto2 .field-item img,
.over-fledderman-content .views-field-field-foto2 img,
.node-type-diensten-energiebesparen .field-name-field-foto-s img {
    vertical-align: middle;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .node-type-projecten .field-name-field-foto-s .field-items {
        display: flex;
        flex-wrap: wrap;

        .field-item {
            float: none;
            width: 50%;

            &.odd img {
                padding-right: 0;
            }

            &.even img {
                padding-left: 0;
            }
        }
    }
}



.node-type-nieuws article .field-name-field-video2 {
    margin-top: 19px;
    width: 33.33%;
    *width: 31.62%;
    float: right;
    padding-right: 20px;
}

.node-type-nieuws article .field-name-field-video2 iframe {
    width: 100%;
    height: 220px;
}

.not-front .view-projecten .views-row,
.not-front .view-nieuws .views-row {
    width: 33.33%;
    *width: 31.62%;
    height: 100%;
    padding-right: 20px;
    float: left;
    text-align: center;
    margin: 10px 0 0 0;
}

.view-diensten .views-row,
.view-projecten-overzicht .views-row {
    text-align: center;
    margin: 25px 0;
}

.view-diensten h2,
.view-projecten-overzicht h2,
.view-projecten h2 {
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;
}

.view-diensten h2 a,
.view-projecten-overzicht h2 a,
.view-projecten h2 a {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.view-diensten h2 a,
.view-projecten-overzicht h2 a {
    text-decoration: none;
    font-weight: normal;
}

.page-node-52 over-fledderman-content.views-fieldset,
.page-node-52 #block-views-laatste-2-berichten-block {
    float: left;
    width: 100%;
}

.page-node-52 .view-laatste-2-berichten .views-field-body {
    width: 100%;
    padding-right: 0;
}

.front .view-nieuws .views-row {
    padding-right: 0;
}

.view-projecten .views-row .views-field-title a,
.view-nieuws .views-row .views-field-title a {
    color: #cd1619;
    text-align: center;
    text-decoration: none;
    margin: 10px 0;
    display: block;
}

.view-projecten .views-row .views-field-view-node,
.view-nieuws .views-row .views-field-view-node {
    margin: 20px 0;
}

.view-intro-s .views-field-field-icon {
    float: left;
    margin-right: 10px;
}

.view-intro-s .views-field-field-icon img {
    height: 64px;
}

.view-intro-s .views-field-title h1 {
    height: 80px;
    line-height: 114px;
}

.intro {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 16px;
    color: #cd1619;
    line-height: 24px;
}


#cboxOverlay {
    background: #000;
    backdrop-filter: blur(5px);
    opacity: 0.85;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

#colorbox {
    display: block;
    position: fixed;
    overflow: hidden;
    z-index: 9999;
    outline: 0;
}

#cboxLoadedContent {
    margin-right: 50px;

    @media only screen and (max-width: 600px) {
        margin-top: 50px;
        margin-right: 0;
    }
}

#cboxNext,
#cboxPrevious,
#cboxClose {
    position: absolute;
    background-color: black;
    opacity: 0.8;
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 50%;
    border: 2px grey solid;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.2s ease;
    outline: 0;
    text-transform: uppercase;

}

#cboxNext {
    bottom: 0;
    top: 50%;
    right: 80px;

    @media only screen and (max-width: 600px) {
        right: 30px;
    }
}

#cboxPrevious {
    bottom: 0;
    top: 50%;
    left: 30px;
}

#cboxClose {
    bottom: 0;
    top: 0px;
    right: 5px;

    @media only screen and (max-width: 600px) {
        top: 10px;
    }

}

#cboxNext:hover,
#cboxPrevious:hover,
#cboxClose:hover {
    background-color: gray;
    border: 2px white solid;
}

/* contact */
#map-canvas {
    height: 350px;
    width: 100%;
    margin-bottom: 60px;
}

#cloud .form-submit,
#cloud #edit-submit--2 {
    background-image: url(../images/arrow-right-red.png), -webkit-gradient(linear, left top, right top, color-stop(0, #fff), color-stop(1, #b4c9d6));
    background-image: url(../images/arrow-right-red.png), -o-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right-red.png), -moz-linear-gradient(right, #fff 0%, #b4c9d6 100%);
    background-image: url(../images/arrow-right-red.png), -webkit-linear-gradient(right, #fff 0%, #b4c9d6 100%);
    background-image: url(../images/arrow-right-red.png), -ms-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right-red.png), linear-gradient(to right, #fff 0%, #b4c9d6 100%);
    color: #cd1619;
    border: none;
    margin-bottom: 10px;
}

#edit-submitted-schaderapport .form-submit {
    width: 7%;
    float: left;
}

.region-footermenu li {
    list-style-image: none !important;
    list-style-type: disc !important;
}

/* homepagina */
.view-projecten-categorie .views-row {
    width: 33.33%;
    *width: 31.62%;
    float: left;
    padding-right: 20px;
}

.view-projecten-categorie .views-row .views-field-title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: #cd1619;
    line-height: 26px;
    height: 90px;
    padding-top: 43px;
}

.view-projecten-categorie .views-field-field-icon {
    float: left;
}

.view-projecten-categorie .views-field-field-icon img {
    height: 64px;
    margin-right: 20px;

}

.front h1 {
    display: none;
}

#header-slider {
    margin-bottom: 50px;
}

.view-projecten-categorie .views-field-field-pagina-link a,
.views-field-view-node a,
.view-homepagina-header .views-field-field-lees-meer a,
a.reageer {
    background: #cd1619 url(../images/arrow-white.png);
    color: #fff;
    background-image: url(../images/arrow-right.png), -webkit-gradient(linear, left top, right top, color-stop(0, #F31831), color-stop(1, #B41424));
    background-image: url(../images/arrow-right.png), -o-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right.png), -moz-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right.png), -webkit-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right.png), -ms-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right.png), linear-gradient(to right, #F31831 0%, #B41424 100%);
    display: inline-block;
    padding: 0 24px 0 10px;
    text-decoration: none;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    border: 1px solid #b61c32;
    background-repeat: no-repeat;
    background-position: right 10px center, 0;
    margin: 20px 0;
    transition: padding-right 1s;
}

#lasttestimonial {
    background: url(../images/texture.png);
    padding: 50px 0;
    margin: 10px 0;
}

/* nieuws */
.view-laatste-2-berichten .views-field-title a {
    text-decoration: none;
    margin: 20px 0;
    display: block;
}

#block-views-laatste-2-berichten-block {
    width: 58.33%;
    *width: 56.62%;
    float: left;
    padding-right: 20px;
}

#block-views-nieuws-block-1 h2 {
    float: right;
    width: 75%;
    *width: 73.28%;
    padding-right: 20px;
}

#block-views-nieuws-block-1 {
    float: left;
    padding-right: 20px;
    width: 41.66%;
    *width: 39.95%;
}

.front .view-nieuws .views-row {
    text-align: left;
    margin: 0;
    width: 100%;
}

.front .view-nieuws .views-row-1 {
    margin-top: 20px;
}

.front .view-nieuws .fieldset-date {
    float: left;
    width: 25%;
    *width: 23.28%;
    padding-right: 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #cd1619;
    background: url(../images/date-bullet.png) right 20px center no-repeat;
    padding-left: 50px;
}

.front .view-nieuws .views-field-created-1 {
    font-size: 12px;
    font-weight: 700;
}

.front .view-nieuws .views-field-created {
    font-weight: 100;
    height: 15px;
}

.front .view-nieuws .fieldset-tekst {
    float: left;
    width: 75%;
    *width: 73.28%;
    padding-right: 20px;
}

.front .view-nieuws .views-row .views-field-title a {
    text-align: left;
}

.view-projecten-categorie .views-field-field-pagina-link a:hover,
a.reageer:hover,
.views-field-view-node a:hover,
.views-slideshow-controls-text-next a:hover {
    padding-right: 30px;
}

.views-slideshow-controls-text-previous a:hover {
    padding-left: 30px;
}

.view-testimonialsuithetverleden .views-field-view-node a {
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 0;
}

/* vacatures */
.page-vacatures .view-vacatures h2 {
    font-family: 'Armata', sans-serif;
    ;
    font-size: 17px;
}

/* hamburger menu */
#hamburger {
    width: 43px;
    display: none;
    height: 43px;
    position: fixed;
    float: left;
    top: 0px;
    right: 0px;
    z-index: 999;
    background: url(../images/hamburger.png) center 9px no-repeat;
}

#header ul li a#mobielplus {
    display: none;
}

/* .om-maximenu-content {display:none;} 
.om-maximenu ul.om-menu li.om-leaf:hover .om-maximenu-content-nofade {display:block;} */

/* Internet explorer */
.no-multiplebgs a.reagee,
.no-multiplebgs .views_slideshow_controls_text a,
.no-multiplebgs .view-projecten .views-row .views-field-view-node a,
.no-multiplebgs .view-projecten-categorie .views-field-field-pagina-link a,
.no-multiplebgs .views-field-view-node a {
    background-image: url(../images/button-ie-right.png);
    background-repeat: repeat;
    background-position: right !important;
}

.no-multiplebgs .views-slideshow-controls-text-previous a {
    background-image: url(../images/button-ie-left.png);
    background-repeat: repeat;
    background-position: left !important;
}

/* lower than ie8 */
.lt-ie8 #footer .region-adres .field-name-body {
    width: 34%;
}

.lt-ie8 .front .view-nieuws .fieldset-date {
    width: 18%;
}

.lt-ie8 .front .view-nieuws .fieldset-tekst {
    width: 68%;
}

.lt-ie8 #cloud {
    width: 231px;
    height: 263px;
}

.lt-ie9 #logo object {
    display: none;
}

.lt-ie9 #logo img {
    display: block;
}

.toolbar-drawer {
    height: 34px;
}

#header .grid {
    max-width: 1191px;
}

#ondercontent {
    margin-top: 100px;
}

.front .view-projecten-categorie .views-field-body {
    height: 245px;
}

body.logged-in {
    height: 100% !important;
}

#om-menu-menu-hoofdmenu .om-leaf {
    overflow: hidden !important;
}

#om-menu-menu-hoofdmenu .om-leaf .om-maximenu-content {
    opacity: 0;
    display: block !important;
    transition: opacity 1s;
}

#om-menu-menu-hoofdmenu .om-leaf:hover {
    overflow: visible !important;
}

#om-menu-menu-hoofdmenu .om-leaf:hover .om-maximenu-content {
    opacity: 1;
    transition: opacity 1s;
}

#header-slider {
    overflow: hidden;
    position: relative;
}

.moviewrap {
    position: absolute;
    width: 100%;
    height: 100%;
    float: left;
    right: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
}

.moviewrap video {
    min-height: 100%;
    min-width: 100%;
    top: 0px;
    left: 0px;
    float: left;
}

.moviewrapover {
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    position: absolute;
    height: 100%;
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 0px;
}

#header-slider .grid {
    z-index: 10;
}

.foto {
    position: relative;
}

.whiteover {
    position: absolute;
    width: 100%;
    height: 100%;
    float: left;
    top: 0px;
    left: 0px;
    background: rgba(225, 225, 225, 0.2);
}

/*.not-logged-in #om-leaf-menu-hoofdmenu-imported-334 {display:none;}
.logged-in #om-leaf-menu-hoofdmenu-imported-281,
.logged-in #om-leaf-menu-hoofdmenu-imported-332 {display:none;}
*/
.om-leaf ul.menu {}

#block-views-testimonials-block-2 h2 {
    line-height: 23px;
}

.view-projecten .intro {
    color: #808285;
    font-size: 12px;
    font-style: normal;
    font-family: 'Armata', sans-serif;
    ;
    src: url('neo-sans-1361508444-webfont.eot');
    src: url('neo-sans-1361508444-webfont.eot?#iefix') format('embedded-opentype'), url('neo-sans-1361508444-webfont.woff') format('woff'), url('neo-sans-1361508444-webfont.ttf') format('truetype'), url('neo-sans-1361508444-webfont.svg#neo_sansregular') format('svg');
}

.node-type-standaard-pagina article .field-name-body {
    width: 66.66%;
    *width: 64.95%;
    float: left;
    padding-right: 113px;
}

.node-type-standaard-pagina article .field-name-field-foto2 {
    width: 33.33%;
    *width: 31.62%;
    float: left;
    padding-right: 20px;
}

.MultiFile-identifier-schaderapport,
.MultiFile-identifier-schaderapport {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

#cloud .MultiFile-identifier-schaderapport {
    color: #fff;
}

#cloud .MultiFile-list {
    position: absolute;
    right: 253px;
    top: 0px;
    background: #cd1619;
    background: rgba(205, 22, 25, 0.5);
    padding: 0 10px;
    font-size: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#header-slider .grid {
    overflow: visible;
}

#webform-component-schaderapport {
    position: relative;
}

.MultiFile-label:first-of-type {
    padding-top: 5px;
}

.MultiFile-label:last-of-type {
    padding-bottom: 5px;
}

.MultiFile-label {
    white-space: nowrap;
}

å .view-projecten .views-row .views-field-body {
    text-overflow: ellipsis;
    height: 80px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 29px;
}

.view-projecten .views-row .views-field-title {
    height: 28px;
}

#block-views-homepagina-header-block {
    position: static;
}

.view-homepagina-header .views-field-field-foto-header-slider .foto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-slider-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#views_slideshow_cycle_teaser_section_homepagina_header-block {
    position: static !important;
}

#header-slider .header-slider-inner #logo {
    margin-top: 60px;
}

#header-slider .header-slider-inner .grid {
    position: static;
}

#header-slider .header-slider-inner .c-4 {
    position: relative;
}

#header-slider .header-slider-inner #cloud {
    top: 0;
    margin-top: 47px;
}

#header-slider .header-slider-inner .header-slider-tekst {
    position: relative;
    margin-top: 260px;
}

#header-slider .header-slider-inner .header-slider-tekst p {
    color: #000;
}

#header-slider .header-slider-inner .header-slider-tekst p.intro {
    color: #cd1619;
}

#header-slider .region-homeslider,
#header-slider #block-views-homepagina-header-block,
#header-slider .view-homepagina-header,
#header-slider .view-homepagina-header .view-content,
#header-slider .view-homepagina-header .view-content .skin-default,
#header-slider .view-homepagina-header .view-content .views_slideshow_cycle_main,
#header-slider .view-homepagina-header .view-content .views_slideshow_cycle_main .views-slideshow-cycle-main-frame,
#header-slider .view-homepagina-header .view-content .views_slideshow_cycle_main .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row {
    height: 100% !important;
    widthå: 100% !important;
}

#header-slider .header-slider-inner .c-4 {
    float: right;
}

#header-slider .header-slider-inner #cloud {
    margin-top: -540px;
    z-index: 29;
}

#header-slider .header-slider-inner .whiteover {}

#header-slider .header-slider-inner .header-slider-tekst {
    background: rgba(225, 225, 225, 0.8);
    padding: 10px 30px;
    border-radius: 20px;
}

/* Google maps */
#header ul #om-leaf-menu-hoofdmenu-imported-276 .om-maximenu-middle .view {
    padding-top: 0;
}

.block-menu-id-menu-aardbevingsschade-herstel-m {
    padding-bottom: 0 !important;
}

.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gmap-map {
    width: 100% !important;
    height: 500px !important;
}

.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gm-style .gm-style-iw {
    background-image: url(../images/popup-bg.png);
    background-size: cover;
    background-position: center;
    top: -2px !important;
    left: -4px !important;
    width: 104% !important;
    height: 122% !important;
    border-radius: 12px;
    z-index: 999999999999;
    color: white;
    /*padding: 17px;*/
}

.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gm-style .gm-style-iw div {
    width: 100% !important;
    height: 100% !important;
}

.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gm-style .gmap-popup {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gm-style .gm-style-iw div.borderradius {
    margin: 4px;
    border: 2px solid #B5243D;
    width: 97% !important;
    height: 92% !important;
    border-radius: 12px;
    overflow: hidden;
}

.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gm-style .alleinfo {
    position: relative;
    top: 17px;
    left: 26px;
    line-height: 27px;
}

.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gm-style .boldfont {
    font-weight: 700;
}

.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gm-style .plaatsnaam,
.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gm-style .herstelde.schades {
    float: left;
    width: 100%;
    font-weight: 100;
}

.not-logged-in .messages--error {
    display: none;
}

#cloud {
    background-repeat: no-repeat;
}

#cloud.energie {
    background: url(../images/cloud2-groen.png);
}

#cloud.energie h2 {
    color: #fff;
    margin-bottom: 20px;
}

#cloud .energietekst {
    margin-top: -7px;
}

#cloud.energie #block-webform-client-block-15 {
    display: none;
}

#cloud.energie #block-webform-client-block-187 {
    display: block;
}

#cloud.energie .anderetekst {
    display: none;
}

#cloud.andere .energietekst {
    display: none;
}

#cloud .form-checkboxes label {
    float: left;
    display: inline;
    font-size: 12px;
    text-align: left;
    padding-left: 21px;
    background: none;
    border: none;
    color: #fff;
    background-image: url(../images/fledderman-check.png);
    background-repeat: no-repeat;
    background-position: 0 -143px;
}

#cloud .form-checkboxes label.ui-state-active {
    background-position: 0 6px;
}

#cloud.energie .form-submit,
#cloud.energie #edit-submit--2 {
    color: #368E58;
    background-image: url(../images/arrow-right-green.png), linear-gradient(to right, #fff 0%, #b4c9d6 100%);
}

#cloud.andere #block-webform-client-block-187 {
    display: none;
}

.page-node-192 .field-name-field-foto-s>.field-items {
    display: none;
}

.page-node-192 .field-name-field-foto-s {
    position: relative;
}

.page-node-192 #cloud {
    position: static;
}

.page-node-192 #cloud .field-name-body {
    width: 100%;
    padding-right: 0;
    float: none;
}

/*.not-front.not-logged-in #cloud {display:none;}*/

@media handheld,
only screen and (max-width: 767px) {
    .page-node-192 #cloud {
        display: block;
    }
}

.page-node-14 #block-block-1 h2 {
    font-size: 25px;
}

.page-node-195 article.node-195 .field-name-body {
    width: 100%;
    padding-right: 0;
}

#block-webform-client-block-210 {
    margin: 30px 0;
}

#block-webform-client-block-210 .form-item {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
}

#block-webform-client-block-210 h2 a {
    text-decoration: none;
    pointer-events: none;
}

#block-webform-client-block-210 .field-name-body p:first-of-type {
    margin-top: 0;
}

#block-webform-client-block-210 .webform-component--dienst {
    margin-right: 10px;
}

#block-webform-client-block-210 input.email {
    width: 200px;
    font-size: 10px;
    color: #808080;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 18px;
    line-height: 18px;
    margin: 5px 0;
    padding: 0 5px;
    -webkit-box-shadow: inset 0 2px 5px 2px #E3E3E3;
    box-shadow: inset 0 2px 5px 2px #E3E3E3;
}

#block-webform-client-block-210 .form-submit {
    color: #fff;
    background-image: url(../images/arrow-right.png), -webkit-gradient(linear, left top, right top, color-stop(0, #F31831), color-stop(1, #B41424));
    background-image: url(../images/arrow-right.png), -o-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right.png), -moz-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right.png), -webkit-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right.png), -ms-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right.png), linear-gradient(to right, #F31831 0%, #B41424 100%);
    display: inline-block;
    padding: 0 24px 0 10px;
    text-decoration: none;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    border: 1px solid #b61c32;
    background-repeat: no-repeat;
    background-position: right 10px center, 0;
    transition: padding-right 1s;
}

#block-mailchimp-signup-nieuwsbrief-aanmelden .mailchimp-signup-subscribe-form-description {
    margin-top: 1.5em;
}

#block-mailchimp-signup-nieuwsbrief-aanmelden .form-type-textfield>label {
    display: none;
}

#block-mailchimp-signup-nieuwsbrief-aanmelden .form-type-textfield>input {
    width: 100%;
    font-size: 10px;
    color: #808080;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 18px;
    line-height: 18px;
    margin: 5px 0;
    padding: 0 5px;
    -webkit-box-shadow: inset 0 2px 5px 2px #E3E3E3;
    box-shadow: inset 0 2px 5px 2px #E3E3E3;
}

#block-mailchimp-signup-nieuwsbrief-aanmelden input.form-submit {
    font-size: 10px;
    float: right;
    width: auto;
    background: none;
    border: 0;
    color: #fff;
    font-style: italic;
    padding: 0;
    font-weight: bold;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* lettertype grote */
#header #om-menu-menu-hoofdmenu-ul-wrapper>ul>li>a {
    font-size: 13px;
    padding: 0 30px;
    letter-spacing: 1px;
}

.pager {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
}

#header ul .om-maximenu-middle .view.view-diensten-dropdown {
    padding-bottom: 0;
}

#header ul .om-maximenu-middle .block-menu.block-menu-id-menu-energiebesparen-menu {
    padding-top: 0;
}

.node-251 {
    width: 75%;
    float: left;
    padding-right: 10px;
}

#block-webform-client-block-252 {
    width: 25%;
    float: left;
}

#block-webform-client-block-252 .node-title a {
    text-decoration: none;
    pointer-events: none;
}

#block-webform-client-block-252 .form-item {
    margin: 0;
}

#block-webform-client-block-252 .field-name-body {
    width: 100%;
    padding-right: 0;
}

#block-webform-client-block-252 input.form-text,
#block-webform-client-block-252 input.form-email {
    width: 100%;
    font-size: 10px;
    color: #808080;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 18px;
    line-height: 18px;
    margin: 5px 0;
    padding: 0 5px;
    -webkit-box-shadow: inset 0 2px 5px 2px #E3E3E3;
    box-shadow: inset 0 2px 5px 2px #E3E3E3;
}

input.webform-submit {
    float: right;
    background: #cd1619 url(../images/arrow-white.png);
    color: #fff;
    background-image: url(../images/arrow-right.png), -webkit-gradient(linear, left top, right top, color-stop(0, #F31831), color-stop(1, #B41424));
    background-image: url(../images/arrow-right.png), -o-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right.png), -moz-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right.png), -webkit-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right.png), -ms-linear-gradient(right, #F31831 0%, #B41424 100%);
    background-image: url(../images/arrow-right.png), linear-gradient(to right, #F31831 0%, #B41424 100%);
    display: inline-block;
    padding: 2px 24px 3px 10px;
    text-decoration: none;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    border: 1px solid #b61c32;
    background-repeat: no-repeat;
    background-position: right 10px center, 0;
    margin: 20px 0;
    transition: padding-right 1s;
}

.node-type-standaard-pagina article.node-251 .field-name-body {
    width: 100%;
    padding-right: 0;
}


#lightbox2-overlay {
    background: url(../images/trans30.png);
}

#popupmelding {
    background: rgba(0, 0, 0, 0.53);
    font-size: 15px;
    line-height: 18px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    color: #fff;
    text-align: center;
}

#popupmelding .popuptekst {
    padding: 50px;
    position: relative;
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}

#popupmelding .popupbg {
    background: url(../images/redtexture.gif);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
    z-index: 800;
}

#popupmelding .popupinhoud {
    position: relative;
    z-index: 801;
    border: 1px solid #000;
    background-image: url(../images/popuprood.png);
    background-repeat: repeat-x;
    background-position: top left;
}

/*#popupmelding.actief {display:block;}*/
#popupmelding.actief {
    display: block;
}

#popupmelding .popuptitel1,
#popupmelding .popuptitel2 {
    font-size: 1.6em;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 40px;
    margin: 32px 0 10px;
    display: inline-block;
}

#popupmelding .popupsluiten {
    margin-top: 50px;
}

#popupmelding .popupboven {
    background-image: url(../images/watermerkje.png);
    background-repeat: no-repeat;
    background-position: 96% 20px;
    height: 329px;
    display: inline-block;
    width: 100%;
    font-size: 17px;
    line-height: 26px;
    padding: 10px;
}

#popupmelding .popuponder {
    background-image: url(../images/popup-logo.png);
    background-repeat: no-repeat;
    background-position: 97% 90%;
    background-color: #fff;
    height: 271px;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px;
}

#popupmelding .popuptitel1 {
    margin-top: 100px;
    font-size: 36px;
    line-height: 42px;
}

#popupmelding .popupsluiten {
    background-image: url(../images/knopje.png);
    background-repeat: no-repeat;
    width: 262px;
    height: 95px;
    line-height: 91px;
    display: inline-block;
    font-size: 21px;
    margin-top: 84px;
}

#popupmelding .popupsluiten2 {
    background-image: url(../images/exit.png);
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.page-node-260 .region-headersliderleeg .foto {
    height: 580px;
    background-image: url(http://www.fledderman.nl/sites/all/themes/fledderman/images/Kuststof_kozijnen_fledderman.jpg) !important;
    background-size: inherit !important;
}

.page-node-260 .region-headersliderleeg .foto .whiteover {
    background: transparent;
}

.page-node-260 #logo {
    margin-top: 60px;
}

.page-node-260 .region-headersliderleeg {
    height: auto;
}


@import 'lennert';