@media handheld, only screen and (max-width: 1060px) {
  /* line 2, ../scss/mobiel.scss */
  #header #om-menu-menu-hoofdmenu-ul-wrapper > ul > li > a {
    padding: 0 15px;
  }

  /* line 3, ../scss/mobiel.scss */
  .page-node-260 .region-headersliderleeg .foto {
    background-position: -640px !important;
  }
}
@media handheld, only screen and (max-width: 950px) {
  /* mobiel menu */
  /* line 10, ../scss/mobiel.scss */
  #header .region-hoofdmenu .om-menu {
    margin: 0;
    width: 100%;
    background: #fff;
    transition: all 0.5s;
  }

  /* line 11, ../scss/mobiel.scss */
  #header .region-hoofdmenu .om-menu.non-active {
    height: 0 !important;
    overflow: hidden;
  }

  /* line 12, ../scss/mobiel.scss */
  #header .region-hoofdmenu .om-menu.non-active li {
    opacity: 0;
    transition: opacity 0.5s;
  }

  /* line 13, ../scss/mobiel.scss */
  #header .region-hoofdmenu .om-menu li {
    width: 100%;
    opacity: 1;
    transition: opacity 1s, 2s;
  }

  /* line 14, ../scss/mobiel.scss */
  #header .region-hoofdmenu .om-menu li:hover {
    background: none;
  }

  /* line 15, ../scss/mobiel.scss */
  #header .region-hoofdmenu .om-menu li a {
    width: 100%;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 12px;
  }

  /* line 16, ../scss/mobiel.scss */
  #header .region-hoofdmenu .om-menu li a.active,
  #header .region-hoofdmenu .om-menu li a:hover {
    color: #000;
    background: url(../images/menu-li-hover.png) repeat-x;
  }

  /* line 18, ../scss/mobiel.scss */
  #header .region-hoofdmenu .om-menu .om-maximenu-content {
    display: none !important;
  }

  /* line 19, ../scss/mobiel.scss */
  #hamburger {
    display: block;
  }

  /* line 20, ../scss/mobiel.scss */
  #header .c-12 {
    margin: 0;
    padding: 0;
  }

  /* line 21, ../scss/mobiel.scss */
  #header {
    padding: 0;
  }

  /* line 22, ../scss/mobiel.scss */
  #header .region-hoofdmenu .om-menu {
    top: 43px;
    background: #cd1619 url(../images/footer-bg2.png);
    background-position: -150px -410px;
    background-repeat: no-repeat;
  }

  /* line 23, ../scss/mobiel.scss */
  #header .region-hoofdmenu .om-menu li.first {
    background: url(../images/dropdown-bg.png) repeat-x top;
  }

  /* line 24, ../scss/mobiel.scss */
  .header ul li a {
    font-size: 14px;
  }

  /* line 25, ../scss/mobiel.scss */
  #header .grid {
    padding-left: 0;
  }

  /* line 26, ../scss/mobiel.scss */
  #header {
    height: 60px;
  }
  /* line 28, ../scss/mobiel.scss */
  #header ul li a {
    height: 37px;
    line-height: 37px;
  }
  /* line 34, ../scss/mobiel.scss */
  #header .region-hoofdmenu .om-menu .plus {
    display: inline-block;
  }
}
@media handheld, only screen and (max-width: 767px) {
  /* line 43, ../scss/mobiel.scss */
  .view-projecten .views-row,
  .view-nieuws .views-row {
    height: auto;
  }

  /* line 45, ../scss/mobiel.scss */
  .moviewrap {
    display: none;
  }

  /* line 46, ../scss/mobiel.scss */
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 54, ../scss/mobiel.scss */
  #map-canvas {
    height: 240px;
  }

  /* line 56, ../scss/mobiel.scss */
  [class*='c-'],
  html .not-front .view-projecten .views-row,
  html .not-front .view-nieuws .views-row,
  #footer .region-adres,
  #footer .region-adres header,
  #footer .region-adres .webform-client-form,
  .view-testimonials .views-field-field-video,
  .view-testimonials .fieldset-c-1,
  .view-testimonials .fieldset-tekst,
  .view-testimonialsuithetverleden .views-slideshow-cycle-main-frame-row-item,
  .node-type-nieuws .field-name-body,
  .node-type-nieuws article .field-name-field-foto-s2,
  .view-nieuws .views-row,
  .page-node-14 .contactleft,
  .view-projecten-categorie .views-row,
  #block-views-laatste-2-berichten-block,
  #block-views-nieuws-block-1 h2,
  #block-views-nieuws-block-1,
  #footer .region-adres .field-name-body,
  .view-projecten .views-row,
  .view-nieuws .views-row,
  .view-intro-s,
  .node-type-projecten article .field-name-body,
  .node-type-nieuws .field-name-body,
  .page__title,
  .node-type-projecten article .field-name-field-foto-s,
  .node-type-nieuws article .field-name-field-foto-s2,
  .views-slideshow-controls-text,
  .view-vacatures,
  .page-node-14 #inhoud article, .page-node-14 .contactleft,
  .page-node-52 .views-field-body,
  .page-node-52 .views-field-field-foto2,
  .node-type-nieuws article .field-name-field-video2 {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 98, ../scss/mobiel.scss */
  .node-type-nieuws article .field-name-field-video2 iframe {
    min-height: 350px;
  }

  /* line 99, ../scss/mobiel.scss */
  .page-node-52 .views-fieldset .views-field-body,
  .page-node-52 .views-fieldset .views-field-field-foto2 {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 101, ../scss/mobiel.scss */
  .page-node-52 .view-laatste-2-berichten .views-field-body {
    padding-left: 0;
  }

  /* verwijderen */
  /* line 104, ../scss/mobiel.scss */
  #cloud,
  #contactfloat,
  #footer .sitemap,
  #footer .projecten,
  #footer .vrij,
  #footer .logos {
    display: none;
  }

  /* nieuw formaat */
  /* line 112, ../scss/mobiel.scss */
  #header-slider {
    padding-top: 36px;
  }
  /* line 115, ../scss/mobiel.scss */
  #header-slider .views-slideshow-cycle-main-frame-row-item {
    padding: 10px;
  }
  /* line 118, ../scss/mobiel.scss */
  #header-slider .header-slider-inner .header-slider-tekst {
    margin-top: 190px;
  }

  /* line 122, ../scss/mobiel.scss */
  #logo {
    margin-top: 0;
    text-align: center;
  }

  /* line 123, ../scss/mobiel.scss */
  #logo object {
    width: 80%;
    height: 80px;
  }

  /* line 124, ../scss/mobiel.scss */
  #block-views-nieuws-block-1 h2 {
    padding: 0;
  }

  /* line 125, ../scss/mobiel.scss */
  .front .view-nieuws .fieldset-date {
    padding-left: 0;
    width: 16.667%;
    *width: 14.95%;
  }

  /* line 126, ../scss/mobiel.scss */
  .front .view-nieuws .fieldset-tekst {
    width: 83.333%;
    *width: 81.62%;
  }

  /* line 127, ../scss/mobiel.scss */
  .front .view-nieuws .views-row {
    padding-left: 0;
  }

  /* line 128, ../scss/mobiel.scss */
  #footer .region-adres .field-name-body,
  #footer .region-adres header {
    text-align: center;
  }

  /* line 130, ../scss/mobiel.scss */
  #footer .innerfooter {
    padding-top: 9px;
  }

  /* line 131, ../scss/mobiel.scss */
  #footer .region-adres .webform-client-form textarea {
    height: 44px;
  }

  /* line 132, ../scss/mobiel.scss */
  #footer .region-adres {
    margin: 0 0 3px 0;
  }

  /* line 133, ../scss/mobiel.scss */
  #footerbottom .footerbottom {
    margin: 0;
    text-align: center;
  }

  /* line 134, ../scss/mobiel.scss */
  #footerbottom {
    height: auto;
  }

  /* line 135, ../scss/mobiel.scss */
  .region-headersliderleeg,
  .region-headerslider,
  .region-headerslider .foto,
  .region-headersliderleeg .foto {
    height: 108px;
  }

  /* line 139, ../scss/mobiel.scss */
  .page-node-14 .webform-client-form {
    width: 100%;
  }

  /* line 141, ../scss/mobiel.scss */
  .grid.inhoud {
    padding-bottom: 190px;
  }

  /* line 142, ../scss/mobiel.scss */
  .view-cursussen-en-workshops .views-row {
    height: 510px;
  }

  /* line 143, ../scss/mobiel.scss */
  #lasttestimonial .c-12 {
    padding: 0;
  }

  /* line 144, ../scss/mobiel.scss */
  #footer .region-adres {
    padding: 0;
  }

  /* line 145, ../scss/mobiel.scss */
  .front .view-projecten-categorie .views-field-body {
    height: auto;
  }

  /* line 146, ../scss/mobiel.scss */
  body.not-front .views-field-title h1 {
    line-height: 20px;
    padding-top: 46px;
  }

  /* line 147, ../scss/mobiel.scss */
  #popupmelding .popuptekst {
    padding: 10px;
  }

  /* line 150, ../scss/mobiel.scss */
  #popupmelding .popupinhoud {
    background-size: 2px 61%;
  }

  /* line 153, ../scss/mobiel.scss */
  #popupmelding .popupboven {
    height: auto;
  }

  /* line 156, ../scss/mobiel.scss */
  #popupmelding .popuponder {
    background-position: 80% 90%;
  }

  /* line 159, ../scss/mobiel.scss */
  .node-251 {
    width: 100%;
    padding: 0 20px;
  }

  /* line 164, ../scss/mobiel.scss */
  #block-webform-client-block-252 {
    width: 100%;
    padding: 0 20px;
  }
}
@media handheld, only screen and (max-width: 560px) {
  /* line 170, ../scss/mobiel.scss */
  .page-vacatures #inhoud .view-vacatures .view-header {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 0px;
    height: 0;
  }
  /* line 175, ../scss/mobiel.scss */
  .page-vacatures #inhoud .view-vacatures .view-header iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media handheld, only screen and (max-width: 500px) {
  /* line 186, ../scss/mobiel.scss */
  .view-testimonials .views-field-field-video-link iframe {
    height: 220px;
  }
}
