/*
  Simple Grid
  Learn more ~ http://dallasbass.com/simple-grid-a-lightweight-responsive-css-grid/
*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0px;
}

.contentvak {
	padding:0px;
}

[class*='c-'] {
	float: left;
	padding-right: 20px;
}

/*[class*='c-']:last-of-type {
	padding-right: 0px;
}*/

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid-pad {
	padding: 0 0 0px 20px;
}

.grid-pad > [class*='c-']:last-of-type {
	padding-right: 20px;
}

.push-right {
	float: right;
	padding-right: 20px;
}

/* Content Columns */

.c-1 {
	width: 8.33%;
    *width: 6.62%;
}

.c-2 {
	width: 16.667%;
    *width: 14.95%;
}

.c-3 {
	width: 25%;
    *width: 23.28%;
}

.c-4 {
	width: 33.33%;
    *width: 31.62%;
}

.c-5 {
	width: 41.66%;
    *width: 39.95%;
}

.c-6 {
	width: 50%;
    *width: 48.28%;
} 

.c-7 {
	width: 58.33%;
    *width: 56.62%;
}

.c-8 {
	width: 66.66%;
    *width: 64.95%;
}

.c-9 {
	width: 75%;
    *width: 73.28%;
}

.c-10 {
	width: 83.333%;
    *width: 81.62%;
}

.c-11 {
	width: 91.66%;
    *width: 89.95%;
}

.c-12 {
	width:100%;
    *width:98.30%;
}

/* Layout Columns */

