@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Armata&display=swap");
/* line 16, ../scss/template.scss */
p,
body {
  color: #808285;
  font-size: 12px;
  font-style: normal;
  font-family: 'Armata', sans-serif;
}

/* line 24, ../scss/template.scss */
.view-aantal-aardbevingen {
  float: left;
  margin-right: 110px;
  width: 726px;
  height: 722px;
  background-image: url(../images/groningen2.jpg);
  background-size: cover;
  background-position: top left;
}

/* line 34, ../scss/template.scss */
.view-aantal-aardbevingen .roderondje {
  position: absolute;
  background-image: url(../images/rode-bal.png);
  width: 56px;
  height: 56px;
  background-size: cover;
  background-position: top left;
  text-align: center;
  line-height: 56px;
  color: #fff;
  font-size: 19px;
}

/* line 49, ../scss/template.scss */
body,
html {
  height: 100%;
}

/* line 54, ../scss/template.scss */
h1,
h2,
h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 19px;
  color: #cd1619;
}

/* line 63, ../scss/template.scss */
h1 {
  font-size: 25px;
}

/* line 67, ../scss/template.scss */
p {
  margin: 13px 0;
}

/* line 71, ../scss/template.scss */
#contactfloat {
  width: 270px;
  height: 209px;
  background: url(../images/contact-bg.png) no-repeat;
  font-size: 10px;
  padding: 27px;
  position: fixed;
  left: -213px;
  z-index: 16;
  top: 490px;
  transition: left 2s;
  line-height: 14px;
  padding-left: 37px;
}

/* line 86, ../scss/template.scss */
#contactfloat:hover {
  left: -19px;
}

/* line 90, ../scss/template.scss */
#contactfloat a {
  color: #cd1619;
}

/* line 94, ../scss/template.scss */
#contactfloat h3 {
  margin: 10px 0;
  color: #cd1619;
  font-size: 12px;
}

/* line 100, ../scss/template.scss */
.rood,
a {
  color: #cd1619;
}

/* line 105, ../scss/template.scss */
#header {
  height: 73px;
  background: url("../images/header-bg.png") repeat-x;
  background-position: bottom;
  position: fixed;
  top: 0;
  z-index: 30;
  width: 100%;
}

/* line 115, ../scss/template.scss */
.logged-in #header {
  top: 64px;
}

/* line 119, ../scss/template.scss */
.block {
  margin: 0;
}

/* line 123, ../scss/template.scss */
#header .grid {
  overflow: visible;
}

/* line 127, ../scss/template.scss */
#header ul {
  margin: 0;
  padding: 0;
}

/* line 132, ../scss/template.scss */
#header ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  list-style-image: none;
  overflow: hidden;
}

/* line 142, ../scss/template.scss */
#header ul li a {
  color: #fff;
  font-family: 'Armata', sans-serif;
  text-decoration: none;
  font-size: 13px;
  height: 57px;
  line-height: 57px;
  display: block;
  padding: 0 26px;
  font-weight: bold;
}

/* line 155, ../scss/template.scss */
#header ul ul .views-row-odd .views-field.views-field-title,
#header ul ul .views-row-odd .views-field-field-pagina-link {
  margin-right: 20px;
}

/* line 160, ../scss/template.scss */
#header ul ul .views-field.views-field-title,
#header ul .om-maximenu-middle .block-menu .menu__link,
#header ul ul .views-field.views-field-field-pagina-link {
  background: url(../images/dropdown-bullet.png) left center no-repeat;
  padding-left: 15px;
  white-space: nowrap;
}

/* line 168, ../scss/template.scss */
#header ul ul li {
  width: 100%;
  float: left;
}

/* line 173, ../scss/template.scss */
#header ul li:hover {
  background: url(../images/menu-hover-right.png) repeat-y right;
  overflow: visible;
}

/* line 178, ../scss/template.scss */
#header ul li:hover a {
  background: url(../images/menu-hover-left.png) repeat-y left;
}

/* line 182, ../scss/template.scss */
#header ul li:hover ul li a {
  background: none;
}

/*#header ul li:hover ul {display:block;}*/
/* line 187, ../scss/template.scss */
#header ul .om-maximenu-content {
  position: absolute;
  background: #cd1619 url(../images/footer-bg2.png);
  background-position: -970px -580px;
  -webkit-border-radius: 0 0 11px 11px;
  -moz-border-radius: 0 0 11px 11px;
  border-radius: 0 0 11px 11px;
  overflow: hidden;
  top: 57px;
  left: 0;
}

/* line 199, ../scss/template.scss */
#header ul .om-maximenu-middle {
  list-style-position: inside;
  background: url(../images/dropdown-bg.png) repeat-x top;
}

/* line 204, ../scss/template.scss */
#header ul .om-maximenu-middle .view,
#header ul .om-maximenu-middle .block-menu {
  padding: 20px 28px 10px 30px;
  float: left;
}

/* line 210, ../scss/template.scss */
.om-maximenu ul.om-menu {
  height: auto;
}

/* line 214, ../scss/template.scss */
.om-maximenu ul.om-menu li.om-leaf {
  height: auto;
}

/* line 218, ../scss/template.scss */
.om-maximenu-no-style .om-maximenu-middle-right {
  padding: 0;
}

/* line 222, ../scss/template.scss */
#header ul .edit-block,
#header ul .om-maximenu-open {
  display: none;
}

/* line 227, ../scss/template.scss */
#header ul ul li {
  color: #fff;
  font-size: 12px;
}

/* line 232, ../scss/template.scss */
#header ul ul li:hover {
  background: none;
}

/* line 236, ../scss/template.scss */
#header ul ul li span {
  white-space: nowrap;
  display: block;
  overflow: visible;
}

/* line 242, ../scss/template.scss */
#header ul ul li a {
  padding: 0;
  height: 30px;
  line-height: 30px;
}

/* line 248, ../scss/template.scss */
#header ul ul li a:hover {
  text-decoration: underline;
}

/* line 252, ../scss/template.scss */
#header .om-maximenu .om-maximenu-content {
  min-width: inherit;
}

/* line 259, ../scss/template.scss */
#header .region-hoofdmenu .om-menu .om-leaf {
  position: relative;
}
/* line 263, ../scss/template.scss */
#header .region-hoofdmenu .om-menu .plus {
  display: none;
  color: white;
  font-size: 27px;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 37px;
  line-height: 37px;
  text-align: center;
}
/* line 277, ../scss/template.scss */
#header .region-hoofdmenu .om-menu .om-maximenu-content.open {
  display: inline-block !important;
  position: relative;
  top: 0;
}
/* line 282, ../scss/template.scss */
#header .region-hoofdmenu .om-menu .om-maximenu-content.open .block-menu-id-menu-energiebesparen-menu {
  width: 100%;
}
/* line 286, ../scss/template.scss */
#header .region-hoofdmenu .om-menu .om-maximenu-content.open .om-maximenu-middle .view {
  padding: 10px 0 0 0;
}
/* line 290, ../scss/template.scss */
#header .region-hoofdmenu .om-menu .om-maximenu-content.open ul .views-field.views-field-field-pagina-link,
#header .region-hoofdmenu .om-menu .om-maximenu-content.open .om-maximenu-middle .block-menu .menu__link,
#header .region-hoofdmenu .om-menu .om-maximenu-content.open li.first,
#header .region-hoofdmenu .om-menu .om-maximenu-content.open ul .views-field.views-field-title {
  background-image: none;
}

/* line 303, ../scss/template.scss */
#header-slider {
  height: 580px;
  width: 100%;
  /*background:url(../images/boerderij.jpg);*/
  background-size: cover;
  background-position: center;
  padding-top: 58px;
}

/* line 312, ../scss/template.scss */
#header-slider .grid {
  height: 100%;
  position: relative;
}

/* line 317, ../scss/template.scss */
#logo {
  margin-top: 30px;
}

/* line 321, ../scss/template.scss */
#logo img {
  display: none;
}

/* line 325, ../scss/template.scss */
#logo object {
  pointer-events: none;
  cursor: pointer;
}

/* line 330, ../scss/template.scss */
#logo a {
  display: block;
}

/* line 334, ../scss/template.scss */
#cloud {
  width: 294px;
  height: 493px;
  background: url(../images/cloud2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 30px;
  padding: 40px 34px 40px 29px;
  color: #fff;
  font-size: 12px;
}

/* line 348, ../scss/template.scss */
#cloud.energie {
  height: 502px;
}

/* line 352, ../scss/template.scss */
#cloud a {
  color: #000;
}

/* line 356, ../scss/template.scss */
#cloud h2 {
  margin: 0;
  font-size: 17px;
  line-height: 17px;
}

/* line 362, ../scss/template.scss */
#cloud h2 a {
  color: #fff;
  text-decoration: none;
}

/* line 367, ../scss/template.scss */
#cloud input {
  width: 100%;
  font-size: 10px;
  color: #808080;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 18px;
  line-height: 18px;
  margin: 5px 0;
  padding: 0 5px;
  -webkit-box-shadow: inset 0 2px 5px 2px #E3E3E3;
  box-shadow: inset 0 2px 5px 2px #E3E3E3;
}

/* line 383, ../scss/template.scss */
#cloud form {
  width: 100%;
}

/* line 387, ../scss/template.scss */
#cloud input#edit-submitted-telefoonnummer {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}

/* line 393, ../scss/template.scss */
#cloud .form-submit {
  background: #e5e5e5 url(../images/submit-form.png) no-repeat center;
  border: 0;
  font-size: 0;
  float: right;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  border-left: 1px solid #cbcbcb;
}

/* line 404, ../scss/template.scss */
#cloud #edit-submitted-schaderapport-upload {
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #fff;
}

/*#cloud #webform-component-telefoonnummer {width:93%;float:left;}*/
/*#cloud #edit-actions {width:7%;float:left;}*/
/* line 412, ../scss/template.scss */
#cloud .form-item {
  margin: 0;
}

/* line 416, ../scss/template.scss */
#cloud p,
#cloud form {
  float: left;
}

/* line 421, ../scss/template.scss */
#cloud h3 {
  color: #fff;
}

/* line 425, ../scss/template.scss */
.views_slideshow_controls_text a,
.view-projecten .views-row .views-field-view-node a,
.view-projecten-overzicht .views-field-field-pagina-link a {
  color: #fff;
  background-image: url(../images/arrow-right.png), -webkit-gradient(linear, left top, right top, color-stop(0, #F31831), color-stop(1, #B41424));
  background-image: url(../images/arrow-right.png), -o-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), -moz-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), -webkit-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), -ms-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), linear-gradient(to right, #f31831 0%, #b41424 100%);
  display: inline-block;
  padding: 0 24px 0 10px;
  text-decoration: none;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  border: 1px solid #b61c32;
  background-repeat: no-repeat;
  background-position: right 10px center, 0;
  transition: padding-right 1s;
}

/* line 447, ../scss/template.scss */
.view-projecten-overzicht .views-field-field-pagina-link,
.view-projecten-overzicht .views-field-field-pagina-link a {
  margin: 20px 0;
}

/* line 454, ../scss/template.scss */
.views-slideshow-controls-text-previous a {
  background-image: url(../images/arrow.png), -webkit-gradient(linear, left top, right top, color-stop(0, #F31831), color-stop(1, #B41424));
  background-image: url(../images/arrow.png), -o-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow.png), -moz-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow.png), -webkit-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrowt.png), -ms-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow.png), linear-gradient(to right, #f31831 0%, #b41424 100%);
  padding: 0 10px 0 24px;
  background-position: left 10px center, 0 0;
  transition: padding-left 1s;
}

/* line 466, ../scss/template.scss */
.views-slideshow-controls-text-pause {
  display: none;
}

/* line 470, ../scss/template.scss */
.views-slideshow-controls-text-next {
  float: right;
}

/* line 474, ../scss/template.scss */
.views-slideshow-controls-text {
  padding-right: 20px;
}

/* line 479, ../scss/template.scss */
#inhoud {
  padding-bottom: 424px;
}

/* line 483, ../scss/template.scss */
#footer {
  background: url(../images/footer-bg.png);
  background-repeat: repeat-x;
  height: 339px;
  width: 100%;
  position: relative;
  margin-top: -363px;
  background-position: 0 -1px;
  color: #fff;
  font-size: 12px;
}

/* line 495, ../scss/template.scss */
#footer a {
  color: #fff;
}

/* line 499, ../scss/template.scss */
#footer .innerfooter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 318px;
  padding-top: 32px;
  background: url(../images/footer-bg2.png);
  background-repeat: no-repeat;
  background-position: center -270px;
  margin-top: 13px;
}

/* line 512, ../scss/template.scss */
#pusher {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 43px;
}

/* line 521, ../scss/template.scss */
#footer h3,
#footer h2 {
  font-family: 'Armata', sans-serif;
  font-size: 12px;
  color: #fff;
  margin: 0;
  line-height: 1em;
}

/* line 531, ../scss/template.scss */
#footer h2 a {
  font-family: 'Armata', sans-serif;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}

/* line 539, ../scss/template.scss */
#footer .formulier form {
  margin-top: 44px;
}

/* line 543, ../scss/template.scss */
#footer .sitemap ul,
#footer .projecten ul {
  padding-left: 15px;
}

/* line 548, ../scss/template.scss */
#footer .region-adres .webform-client-form input.form-submit {
  float: right;
  width: auto;
  background: none;
  border: 0;
  color: #fff;
  font-style: italic;
  padding: 0;
  font-weight: bold;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 561, ../scss/template.scss */
#footer .region-adres .webform-client-form textarea {
  width: 100%;
  font-size: 10px;
  color: #808080;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 67px;
  margin: 5px 0;
  padding: 5px;
}

/* line 574, ../scss/template.scss */
#footer .footertop {
  height: 240px;
}

/* line 578, ../scss/template.scss */
#footer .footermiddle {
  height: 54px;
}

/* line 582, ../scss/template.scss */
#footer .footermiddle .contentvak,
#footer .footermiddle .contentvak img {
  vertical-align: middle;
}

/* line 587, ../scss/template.scss */
#footer .logos img {
  margin-right: 20px;
}

/* line 591, ../scss/template.scss */
.foto #logo a {
  display: block;
}

/* line 595, ../scss/template.scss */
object {
  pointer-events: none;
}

/* line 599, ../scss/template.scss */
#footer .region-adres {
  width: 41.66%;
  *width: 39.95%;
  float: left;
  padding-right: 20px;
}

/* line 606, ../scss/template.scss */
#footer .region-adres .field-name-body,
#footer .region-adres header {
  width: 41.66%;
  *width: 39.95%;
  float: left;
  padding-right: 20px;
  clear: left;
}

/* line 615, ../scss/template.scss */
#footer .region-adres .webform-client-form {
  width: 58.33%;
  *width: 56.62%;
  float: left;
  padding-right: 20px;
  margin-top: 10px;
}

/* line 623, ../scss/template.scss */
#footer .region-adres .webform-client-form input {
  width: 100%;
  font-size: 10px;
  color: #808080;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 18px;
  line-height: 18px;
  margin: 5px 0;
  padding: 0 5px;
  -webkit-box-shadow: inset 0 2px 5px 2px #E3E3E3;
  box-shadow: inset 0 2px 5px 2px #E3E3E3;
}

/* line 639, ../scss/template.scss */
#footer .region-adres .webform-client-form .form-item {
  margin: 0;
}

/* line 643, ../scss/template.scss */
#footerbottom {
  background: url(../images/footer-bottom-bg.png);
  background-repeat: repeat-x;
  height: 24px;
  width: 100%;
  position: relative;
  color: #fff;
  font-size: 12px;
}

/* line 653, ../scss/template.scss */
#footerbottom .footerbottom {
  height: 24px;
  line-height: 24px;
  font-size: 10px;
}

/* line 659, ../scss/template.scss */
#footerbottom .copyright {
  clear: left;
}

/* line 663, ../scss/template.scss */
#footerbottom .madeby {
  clear: right;
}

/* line 667, ../scss/template.scss */
#footerbottom .madeby {
  text-align: right;
}

/* line 671, ../scss/template.scss */
#footerbottom a {
  color: #fff;
}

/* testimonials */
/* line 677, ../scss/template.scss */
.view-testimonials .views-field-field-video {
  width: 58.33%;
  *width: 56.62%;
  float: left;
  padding-right: 20px;
  margin-top: 20px;
}

/* line 685, ../scss/template.scss */
.view-testimonials .fieldset-c-1 {
  width: 8.33%;
  *width: 6.62%;
  float: left;
  padding-right: 20px;
  min-height: 1px;
}

/* line 693, ../scss/template.scss */
.view-testimonials .fieldset-tekst {
  width: 33.33%;
  *width: 31.62%;
  float: left;
  padding-right: 20px;
}

/* line 700, ../scss/template.scss */
.view-testimonials .views-field-field-video iframe {
  width: 100%;
  height: 350px;
}

/* line 705, ../scss/template.scss */
.view-testimonials .views-field-title a {
  font-family: 'Ubuntu', sans-serif;
  color: #cd1619;
  text-decoration: none;
  font-weight: 700;
  font-size: 19px;
}

/* line 713, ../scss/template.scss */
.view-testimonialsuithetverleden .views-slideshow-cycle-main-frame-row-item {
  width: 33.33%;
  *width: 31.62%;
  float: left;
  padding-right: 20px;
}

/* line 720, ../scss/template.scss */
.view-testimonialsuithetverleden iframe {
  width: 100%;
  height: 197px;
}

/* line 725, ../scss/template.scss */
.meertestimonials h2 {
  text-align: center;
  font-size: 19px;
  margin-bottom: 40px;
}

/* line 731, ../scss/template.scss */
.meertestimonials {
  background: url(../images/texture.png);
  padding: 50px 0;
}

/* line 736, ../scss/template.scss */
.meertestimonials .fieldset-linkset {
  position: relative;
  height: 197px;
  overflow: hidden;
}

/* line 742, ../scss/template.scss */
.meertestimonials .fieldset-linkset .views-field-view-node a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  background: url(../images/black-trans-50.png);
  line-height: 197px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  opacity: 0;
}

/* line 757, ../scss/template.scss */
.meertestimonials .fieldset-linkset .views-field-view-node a:hover {
  opacity: 1;
}

/* line 761, ../scss/template.scss */
.meertestimonials .views-slideshow-controls-bottom {
  margin-top: 20px;
}

/* header slider */
/* line 766, ../scss/template.scss */
.region-headerslider .foto,
.region-headersliderleeg .foto {
  height: 230px;
  width: 100%;
}

/* line 772, ../scss/template.scss */
.region-headersliderleeg,
.region-headerslider {
  height: 230px;
  margin-bottom: 60px;
}

/* line 778, ../scss/template.scss */
.views_slideshow_slide {
  width: 100%;
}

/* projecten */
/* line 783, ../scss/template.scss */
.node-type-projecten article .field-name-body,
.node-type-nieuws .field-name-body,
.page-node-52 .views-field-body {
  width: 100%;
  float: left;
  padding-right: 0;
}

/* line 791, ../scss/template.scss */
.node-type-projecten article .field-name-field-foto-s,
.node-type-nieuws article .field-name-field-foto-s2,
.node-type-nieuws article .field-name-field-video2,
.node-type-diensten-energiebesparen article .field-name-field-foto-s,
.page-node-52 .views-field-field-foto2 {
  width: 100%;
  float: left;
  margin: 30px 0;
}

/* line 801, ../scss/template.scss */
.node-type-projecten article .field-name-field-foto-s .field-item,
.node-type-nieuws article .field-name-field-foto-s2 .field-item,
.node-type-nieuws article .field-name-field-video2 .field-item,
.node-type-diensten-energiebesparen article .field-name-field-foto-s .field-item,
.page-node-52 .views-field-field-foto2 .field-item {
  width: 20%;
  float: left;
  padding: 3px;
}

/* line 811, ../scss/template.scss */
.over-fledderman-content .views-field-field-foto2 a {
  width: 20%;
  float: left;
  padding: 3px;
}

/* line 821, ../scss/template.scss */
.node-type-nieuws article .field-name-field-video2 .field-item {
  width: 100%;
}

/* line 825, ../scss/template.scss */
.page-node-257.node-type-nieuws article .field-name-field-foto-s2,
.page-node-102.node-type-nieuws article .field-name-field-foto-s2 {
  width: 66.67%;
}

/* line 830, ../scss/template.scss */
.node-type-projecten article .field-name-field-foto-s .field-item img,
.node-type-nieuws article .field-name-field-foto-s2 .field-item img,
.node-type-nieuws article .field-name-field-video2 .field-item img,
.page-node-52 .views-field-field-foto2 .field-item img,
.over-fledderman-content .views-field-field-foto2 img,
.node-type-diensten-energiebesparen .field-name-field-foto-s img {
  vertical-align: middle;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  /* line 841, ../scss/template.scss */
  .node-type-projecten .field-name-field-foto-s .field-items {
    display: flex;
    flex-wrap: wrap;
  }
  /* line 845, ../scss/template.scss */
  .node-type-projecten .field-name-field-foto-s .field-items .field-item {
    float: none;
    width: 50%;
  }
  /* line 849, ../scss/template.scss */
  .node-type-projecten .field-name-field-foto-s .field-items .field-item.odd img {
    padding-right: 0;
  }
  /* line 853, ../scss/template.scss */
  .node-type-projecten .field-name-field-foto-s .field-items .field-item.even img {
    padding-left: 0;
  }
}
/* line 862, ../scss/template.scss */
.node-type-nieuws article .field-name-field-video2 {
  margin-top: 19px;
  width: 33.33%;
  *width: 31.62%;
  float: right;
  padding-right: 20px;
}

/* line 870, ../scss/template.scss */
.node-type-nieuws article .field-name-field-video2 iframe {
  width: 100%;
  height: 220px;
}

/* line 875, ../scss/template.scss */
.not-front .view-projecten .views-row,
.not-front .view-nieuws .views-row {
  width: 33.33%;
  *width: 31.62%;
  height: 100%;
  padding-right: 20px;
  float: left;
  text-align: center;
  margin: 10px 0 0 0;
}

/* line 886, ../scss/template.scss */
.view-diensten .views-row,
.view-projecten-overzicht .views-row {
  text-align: center;
  margin: 25px 0;
}

/* line 892, ../scss/template.scss */
.view-diensten h2,
.view-projecten-overzicht h2,
.view-projecten h2 {
  font-size: 20px;
  line-height: 26px;
  font-weight: normal;
}

/* line 900, ../scss/template.scss */
.view-diensten h2 a,
.view-projecten-overzicht h2 a,
.view-projecten h2 a {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

/* line 910, ../scss/template.scss */
.view-diensten h2 a,
.view-projecten-overzicht h2 a {
  text-decoration: none;
  font-weight: normal;
}

/* line 916, ../scss/template.scss */
.page-node-52 over-fledderman-content.views-fieldset,
.page-node-52 #block-views-laatste-2-berichten-block {
  float: left;
  width: 100%;
}

/* line 922, ../scss/template.scss */
.page-node-52 .view-laatste-2-berichten .views-field-body {
  width: 100%;
  padding-right: 0;
}

/* line 927, ../scss/template.scss */
.front .view-nieuws .views-row {
  padding-right: 0;
}

/* line 931, ../scss/template.scss */
.view-projecten .views-row .views-field-title a,
.view-nieuws .views-row .views-field-title a {
  color: #cd1619;
  text-align: center;
  text-decoration: none;
  margin: 10px 0;
  display: block;
}

/* line 940, ../scss/template.scss */
.view-projecten .views-row .views-field-view-node,
.view-nieuws .views-row .views-field-view-node {
  margin: 20px 0;
}

/* line 945, ../scss/template.scss */
.view-intro-s .views-field-field-icon {
  float: left;
  margin-right: 10px;
}

/* line 950, ../scss/template.scss */
.view-intro-s .views-field-field-icon img {
  height: 64px;
}

/* line 954, ../scss/template.scss */
.view-intro-s .views-field-title h1 {
  height: 80px;
  line-height: 114px;
}

/* line 959, ../scss/template.scss */
.intro {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 16px;
  color: #cd1619;
  line-height: 24px;
}

/* line 969, ../scss/template.scss */
#cboxOverlay {
  background: #000;
  backdrop-filter: blur(5px);
  opacity: 0.85;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

/* line 982, ../scss/template.scss */
#colorbox {
  display: block;
  position: fixed;
  overflow: hidden;
  z-index: 9999;
  outline: 0;
}

/* line 990, ../scss/template.scss */
#cboxLoadedContent {
  margin-right: 50px;
}
@media only screen and (max-width: 600px) {
  /* line 990, ../scss/template.scss */
  #cboxLoadedContent {
    margin-top: 50px;
    margin-right: 0;
  }
}

/* line 999, ../scss/template.scss */
#cboxNext,
#cboxPrevious,
#cboxClose {
  position: absolute;
  background-color: black;
  opacity: 0.8;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  border: 2px grey solid;
  font-weight: bold;
  font-size: 18px;
  transition: background-color 0.2s ease;
  outline: 0;
  text-transform: uppercase;
}

/* line 1018, ../scss/template.scss */
#cboxNext {
  bottom: 0;
  top: 50%;
  right: 80px;
}
@media only screen and (max-width: 600px) {
  /* line 1018, ../scss/template.scss */
  #cboxNext {
    right: 30px;
  }
}

/* line 1028, ../scss/template.scss */
#cboxPrevious {
  bottom: 0;
  top: 50%;
  left: 30px;
}

/* line 1034, ../scss/template.scss */
#cboxClose {
  bottom: 0;
  top: 0px;
  right: 5px;
}
@media only screen and (max-width: 600px) {
  /* line 1034, ../scss/template.scss */
  #cboxClose {
    top: 10px;
  }
}

/* line 1045, ../scss/template.scss */
#cboxNext:hover,
#cboxPrevious:hover,
#cboxClose:hover {
  background-color: gray;
  border: 2px white solid;
}

/* contact */
/* line 1053, ../scss/template.scss */
#map-canvas {
  height: 350px;
  width: 100%;
  margin-bottom: 60px;
}

/* line 1059, ../scss/template.scss */
#cloud .form-submit,
#cloud #edit-submit--2 {
  background-image: url(../images/arrow-right-red.png), -webkit-gradient(linear, left top, right top, color-stop(0, #fff), color-stop(1, #b4c9d6));
  background-image: url(../images/arrow-right-red.png), -o-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right-red.png), -moz-linear-gradient(right, #fff 0%, #b4c9d6 100%);
  background-image: url(../images/arrow-right-red.png), -webkit-linear-gradient(right, #fff 0%, #b4c9d6 100%);
  background-image: url(../images/arrow-right-red.png), -ms-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right-red.png), linear-gradient(to right, #ffffff 0%, #b4c9d6 100%);
  color: #cd1619;
  border: none;
  margin-bottom: 10px;
}

/* line 1072, ../scss/template.scss */
#edit-submitted-schaderapport .form-submit {
  width: 7%;
  float: left;
}

/* line 1077, ../scss/template.scss */
.region-footermenu li {
  list-style-image: none !important;
  list-style-type: disc !important;
}

/* homepagina */
/* line 1083, ../scss/template.scss */
.view-projecten-categorie .views-row {
  width: 33.33%;
  *width: 31.62%;
  float: left;
  padding-right: 20px;
}

/* line 1090, ../scss/template.scss */
.view-projecten-categorie .views-row .views-field-title {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 19px;
  color: #cd1619;
  line-height: 26px;
  height: 90px;
  padding-top: 43px;
}

/* line 1100, ../scss/template.scss */
.view-projecten-categorie .views-field-field-icon {
  float: left;
}

/* line 1104, ../scss/template.scss */
.view-projecten-categorie .views-field-field-icon img {
  height: 64px;
  margin-right: 20px;
}

/* line 1110, ../scss/template.scss */
.front h1 {
  display: none;
}

/* line 1114, ../scss/template.scss */
#header-slider {
  margin-bottom: 50px;
}

/* line 1118, ../scss/template.scss */
.view-projecten-categorie .views-field-field-pagina-link a,
.views-field-view-node a,
.view-homepagina-header .views-field-field-lees-meer a,
a.reageer {
  background: #cd1619 url(../images/arrow-white.png);
  color: #fff;
  background-image: url(../images/arrow-right.png), -webkit-gradient(linear, left top, right top, color-stop(0, #F31831), color-stop(1, #B41424));
  background-image: url(../images/arrow-right.png), -o-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), -moz-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), -webkit-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), -ms-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), linear-gradient(to right, #f31831 0%, #b41424 100%);
  display: inline-block;
  padding: 0 24px 0 10px;
  text-decoration: none;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  border: 1px solid #b61c32;
  background-repeat: no-repeat;
  background-position: right 10px center, 0;
  margin: 20px 0;
  transition: padding-right 1s;
}

/* line 1143, ../scss/template.scss */
#lasttestimonial {
  background: url(../images/texture.png);
  padding: 50px 0;
  margin: 10px 0;
}

/* nieuws */
/* line 1150, ../scss/template.scss */
.view-laatste-2-berichten .views-field-title a {
  text-decoration: none;
  margin: 20px 0;
  display: block;
}

/* line 1156, ../scss/template.scss */
#block-views-laatste-2-berichten-block {
  width: 58.33%;
  *width: 56.62%;
  float: left;
  padding-right: 20px;
}

/* line 1163, ../scss/template.scss */
#block-views-nieuws-block-1 h2 {
  float: right;
  width: 75%;
  *width: 73.28%;
  padding-right: 20px;
}

/* line 1170, ../scss/template.scss */
#block-views-nieuws-block-1 {
  float: left;
  padding-right: 20px;
  width: 41.66%;
  *width: 39.95%;
}

/* line 1177, ../scss/template.scss */
.front .view-nieuws .views-row {
  text-align: left;
  margin: 0;
  width: 100%;
}

/* line 1183, ../scss/template.scss */
.front .view-nieuws .views-row-1 {
  margin-top: 20px;
}

/* line 1187, ../scss/template.scss */
.front .view-nieuws .fieldset-date {
  float: left;
  width: 25%;
  *width: 23.28%;
  padding-right: 20px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: #cd1619;
  background: url(../images/date-bullet.png) right 20px center no-repeat;
  padding-left: 50px;
}

/* line 1200, ../scss/template.scss */
.front .view-nieuws .views-field-created-1 {
  font-size: 12px;
  font-weight: 700;
}

/* line 1205, ../scss/template.scss */
.front .view-nieuws .views-field-created {
  font-weight: 100;
  height: 15px;
}

/* line 1210, ../scss/template.scss */
.front .view-nieuws .fieldset-tekst {
  float: left;
  width: 75%;
  *width: 73.28%;
  padding-right: 20px;
}

/* line 1217, ../scss/template.scss */
.front .view-nieuws .views-row .views-field-title a {
  text-align: left;
}

/* line 1221, ../scss/template.scss */
.view-projecten-categorie .views-field-field-pagina-link a:hover,
a.reageer:hover,
.views-field-view-node a:hover,
.views-slideshow-controls-text-next a:hover {
  padding-right: 30px;
}

/* line 1228, ../scss/template.scss */
.views-slideshow-controls-text-previous a:hover {
  padding-left: 30px;
}

/* line 1232, ../scss/template.scss */
.view-testimonialsuithetverleden .views-field-view-node a {
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
}

/* vacatures */
/* line 1240, ../scss/template.scss */
.page-vacatures .view-vacatures h2 {
  font-family: 'Armata', sans-serif;
  font-size: 17px;
}

/* hamburger menu */
/* line 1247, ../scss/template.scss */
#hamburger {
  width: 43px;
  display: none;
  height: 43px;
  position: fixed;
  float: left;
  top: 0px;
  right: 0px;
  z-index: 999;
  background: url(../images/hamburger.png) center 9px no-repeat;
}

/* line 1259, ../scss/template.scss */
#header ul li a#mobielplus {
  display: none;
}

/* .om-maximenu-content {display:none;} 
.om-maximenu ul.om-menu li.om-leaf:hover .om-maximenu-content-nofade {display:block;} */
/* Internet explorer */
/* line 1267, ../scss/template.scss */
.no-multiplebgs a.reagee,
.no-multiplebgs .views_slideshow_controls_text a,
.no-multiplebgs .view-projecten .views-row .views-field-view-node a,
.no-multiplebgs .view-projecten-categorie .views-field-field-pagina-link a,
.no-multiplebgs .views-field-view-node a {
  background-image: url(../images/button-ie-right.png);
  background-repeat: repeat;
  background-position: right !important;
}

/* line 1277, ../scss/template.scss */
.no-multiplebgs .views-slideshow-controls-text-previous a {
  background-image: url(../images/button-ie-left.png);
  background-repeat: repeat;
  background-position: left !important;
}

/* lower than ie8 */
/* line 1284, ../scss/template.scss */
.lt-ie8 #footer .region-adres .field-name-body {
  width: 34%;
}

/* line 1288, ../scss/template.scss */
.lt-ie8 .front .view-nieuws .fieldset-date {
  width: 18%;
}

/* line 1292, ../scss/template.scss */
.lt-ie8 .front .view-nieuws .fieldset-tekst {
  width: 68%;
}

/* line 1296, ../scss/template.scss */
.lt-ie8 #cloud {
  width: 231px;
  height: 263px;
}

/* line 1301, ../scss/template.scss */
.lt-ie9 #logo object {
  display: none;
}

/* line 1305, ../scss/template.scss */
.lt-ie9 #logo img {
  display: block;
}

/* line 1309, ../scss/template.scss */
.toolbar-drawer {
  height: 34px;
}

/* line 1313, ../scss/template.scss */
#header .grid {
  max-width: 1191px;
}

/* line 1317, ../scss/template.scss */
#ondercontent {
  margin-top: 100px;
}

/* line 1321, ../scss/template.scss */
.front .view-projecten-categorie .views-field-body {
  height: 245px;
}

/* line 1325, ../scss/template.scss */
body.logged-in {
  height: 100% !important;
}

/* line 1329, ../scss/template.scss */
#om-menu-menu-hoofdmenu .om-leaf {
  overflow: hidden !important;
}

/* line 1333, ../scss/template.scss */
#om-menu-menu-hoofdmenu .om-leaf .om-maximenu-content {
  opacity: 0;
  display: block !important;
  transition: opacity 1s;
}

/* line 1339, ../scss/template.scss */
#om-menu-menu-hoofdmenu .om-leaf:hover {
  overflow: visible !important;
}

/* line 1343, ../scss/template.scss */
#om-menu-menu-hoofdmenu .om-leaf:hover .om-maximenu-content {
  opacity: 1;
  transition: opacity 1s;
}

/* line 1348, ../scss/template.scss */
#header-slider {
  overflow: hidden;
  position: relative;
}

/* line 1353, ../scss/template.scss */
.moviewrap {
  position: absolute;
  width: 100%;
  height: 100%;
  float: left;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}

/* line 1364, ../scss/template.scss */
.moviewrap video {
  min-height: 100%;
  min-width: 100%;
  top: 0px;
  left: 0px;
  float: left;
}

/* line 1372, ../scss/template.scss */
.moviewrapover {
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  position: absolute;
  height: 100%;
  position: absolute;
  z-index: 5;
  top: 0px;
  left: 0px;
}

/* line 1383, ../scss/template.scss */
#header-slider .grid {
  z-index: 10;
}

/* line 1387, ../scss/template.scss */
.foto {
  position: relative;
}

/* line 1391, ../scss/template.scss */
.whiteover {
  position: absolute;
  width: 100%;
  height: 100%;
  float: left;
  top: 0px;
  left: 0px;
  background: rgba(225, 225, 225, 0.2);
}

/*.not-logged-in #om-leaf-menu-hoofdmenu-imported-334 {display:none;}
.logged-in #om-leaf-menu-hoofdmenu-imported-281,
.logged-in #om-leaf-menu-hoofdmenu-imported-332 {display:none;}
*/
/* line 1407, ../scss/template.scss */
#block-views-testimonials-block-2 h2 {
  line-height: 23px;
}

/* line 1411, ../scss/template.scss */
.view-projecten .intro {
  color: #808285;
  font-size: 12px;
  font-style: normal;
  font-family: 'Armata', sans-serif;
  src: url("neo-sans-1361508444-webfont.eot");
  src: url("neo-sans-1361508444-webfont.eot?#iefix") format("embedded-opentype"), url("neo-sans-1361508444-webfont.woff") format("woff"), url("neo-sans-1361508444-webfont.ttf") format("truetype"), url("neo-sans-1361508444-webfont.svg#neo_sansregular") format("svg");
}

/* line 1421, ../scss/template.scss */
.node-type-standaard-pagina article .field-name-body {
  width: 66.66%;
  *width: 64.95%;
  float: left;
  padding-right: 113px;
}

/* line 1428, ../scss/template.scss */
.node-type-standaard-pagina article .field-name-field-foto2 {
  width: 33.33%;
  *width: 31.62%;
  float: left;
  padding-right: 20px;
}

/* line 1435, ../scss/template.scss */
.MultiFile-identifier-schaderapport,
.MultiFile-identifier-schaderapport {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

/* line 1444, ../scss/template.scss */
#cloud .MultiFile-identifier-schaderapport {
  color: #fff;
}

/* line 1448, ../scss/template.scss */
#cloud .MultiFile-list {
  position: absolute;
  right: 253px;
  top: 0px;
  background: #cd1619;
  background: rgba(205, 22, 25, 0.5);
  padding: 0 10px;
  font-size: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 1461, ../scss/template.scss */
#header-slider .grid {
  overflow: visible;
}

/* line 1465, ../scss/template.scss */
#webform-component-schaderapport {
  position: relative;
}

/* line 1469, ../scss/template.scss */
.MultiFile-label:first-of-type {
  padding-top: 5px;
}

/* line 1473, ../scss/template.scss */
.MultiFile-label:last-of-type {
  padding-bottom: 5px;
}

/* line 1477, ../scss/template.scss */
.MultiFile-label {
  white-space: nowrap;
}

/* line 1481, ../scss/template.scss */
å .view-projecten .views-row .views-field-body {
  text-overflow: ellipsis;
  height: 80px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 29px;
}

/* line 1491, ../scss/template.scss */
.view-projecten .views-row .views-field-title {
  height: 28px;
}

/* line 1495, ../scss/template.scss */
#block-views-homepagina-header-block {
  position: static;
}

/* line 1499, ../scss/template.scss */
.view-homepagina-header .views-field-field-foto-header-slider .foto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 1507, ../scss/template.scss */
.header-slider-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 1515, ../scss/template.scss */
#views_slideshow_cycle_teaser_section_homepagina_header-block {
  position: static !important;
}

/* line 1519, ../scss/template.scss */
#header-slider .header-slider-inner #logo {
  margin-top: 60px;
}

/* line 1523, ../scss/template.scss */
#header-slider .header-slider-inner .grid {
  position: static;
}

/* line 1527, ../scss/template.scss */
#header-slider .header-slider-inner .c-4 {
  position: relative;
}

/* line 1531, ../scss/template.scss */
#header-slider .header-slider-inner #cloud {
  top: 0;
  margin-top: 47px;
}

/* line 1536, ../scss/template.scss */
#header-slider .header-slider-inner .header-slider-tekst {
  position: relative;
  margin-top: 260px;
}

/* line 1541, ../scss/template.scss */
#header-slider .header-slider-inner .header-slider-tekst p {
  color: #000;
}

/* line 1545, ../scss/template.scss */
#header-slider .header-slider-inner .header-slider-tekst p.intro {
  color: #cd1619;
}

/* line 1549, ../scss/template.scss */
#header-slider .region-homeslider,
#header-slider #block-views-homepagina-header-block,
#header-slider .view-homepagina-header,
#header-slider .view-homepagina-header .view-content,
#header-slider .view-homepagina-header .view-content .skin-default,
#header-slider .view-homepagina-header .view-content .views_slideshow_cycle_main,
#header-slider .view-homepagina-header .view-content .views_slideshow_cycle_main .views-slideshow-cycle-main-frame,
#header-slider .view-homepagina-header .view-content .views_slideshow_cycle_main .views-slideshow-cycle-main-frame .views-slideshow-cycle-main-frame-row {
  height: 100% !important;
  widthå: 100% !important;
}

/* line 1561, ../scss/template.scss */
#header-slider .header-slider-inner .c-4 {
  float: right;
}

/* line 1565, ../scss/template.scss */
#header-slider .header-slider-inner #cloud {
  margin-top: -540px;
  z-index: 29;
}

/* line 1572, ../scss/template.scss */
#header-slider .header-slider-inner .header-slider-tekst {
  background: rgba(225, 225, 225, 0.8);
  padding: 10px 30px;
  border-radius: 20px;
}

/* Google maps */
/* line 1579, ../scss/template.scss */
#header ul #om-leaf-menu-hoofdmenu-imported-276 .om-maximenu-middle .view {
  padding-top: 0;
}

/* line 1583, ../scss/template.scss */
.block-menu-id-menu-aardbevingsschade-herstel-m {
  padding-bottom: 0 !important;
}

/* line 1587, ../scss/template.scss */
.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gmap-map {
  width: 100% !important;
  height: 500px !important;
}

/* line 1592, ../scss/template.scss */
.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gm-style .gm-style-iw {
  background-image: url(../images/popup-bg.png);
  background-size: cover;
  background-position: center;
  top: -2px !important;
  left: -4px !important;
  width: 104% !important;
  height: 122% !important;
  border-radius: 12px;
  z-index: 999999999999;
  color: white;
  /*padding: 17px;*/
}

/* line 1606, ../scss/template.scss */
.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gm-style .gm-style-iw div {
  width: 100% !important;
  height: 100% !important;
}

/* line 1611, ../scss/template.scss */
.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gm-style .gmap-popup {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

/* line 1618, ../scss/template.scss */
.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gm-style .gm-style-iw div.borderradius {
  margin: 4px;
  border: 2px solid #B5243D;
  width: 97% !important;
  height: 92% !important;
  border-radius: 12px;
  overflow: hidden;
}

/* line 1627, ../scss/template.scss */
.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gm-style .alleinfo {
  position: relative;
  top: 17px;
  left: 26px;
  line-height: 27px;
}

/* line 1634, ../scss/template.scss */
.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gm-style .boldfont {
  font-weight: 700;
}

/* line 1638, ../scss/template.scss */
.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gm-style .plaatsnaam,
.page-aardbevingsschade-herstel-door-bouwbedrijf-fledderman .gm-style .herstelde.schades {
  float: left;
  width: 100%;
  font-weight: 100;
}

/* line 1645, ../scss/template.scss */
.not-logged-in .messages--error {
  display: none;
}

/* line 1649, ../scss/template.scss */
#cloud {
  background-repeat: no-repeat;
}

/* line 1653, ../scss/template.scss */
#cloud.energie {
  background: url(../images/cloud2-groen.png);
}

/* line 1657, ../scss/template.scss */
#cloud.energie h2 {
  color: #fff;
  margin-bottom: 20px;
}

/* line 1662, ../scss/template.scss */
#cloud .energietekst {
  margin-top: -7px;
}

/* line 1666, ../scss/template.scss */
#cloud.energie #block-webform-client-block-15 {
  display: none;
}

/* line 1670, ../scss/template.scss */
#cloud.energie #block-webform-client-block-187 {
  display: block;
}

/* line 1674, ../scss/template.scss */
#cloud.energie .anderetekst {
  display: none;
}

/* line 1678, ../scss/template.scss */
#cloud.andere .energietekst {
  display: none;
}

/* line 1682, ../scss/template.scss */
#cloud .form-checkboxes label {
  float: left;
  display: inline;
  font-size: 12px;
  text-align: left;
  padding-left: 21px;
  background: none;
  border: none;
  color: #fff;
  background-image: url(../images/fledderman-check.png);
  background-repeat: no-repeat;
  background-position: 0 -143px;
}

/* line 1696, ../scss/template.scss */
#cloud .form-checkboxes label.ui-state-active {
  background-position: 0 6px;
}

/* line 1700, ../scss/template.scss */
#cloud.energie .form-submit,
#cloud.energie #edit-submit--2 {
  color: #368E58;
  background-image: url(../images/arrow-right-green.png), linear-gradient(to right, #ffffff 0%, #b4c9d6 100%);
}

/* line 1706, ../scss/template.scss */
#cloud.andere #block-webform-client-block-187 {
  display: none;
}

/* line 1710, ../scss/template.scss */
.page-node-192 .field-name-field-foto-s > .field-items {
  display: none;
}

/* line 1714, ../scss/template.scss */
.page-node-192 .field-name-field-foto-s {
  position: relative;
}

/* line 1718, ../scss/template.scss */
.page-node-192 #cloud {
  position: static;
}

/* line 1722, ../scss/template.scss */
.page-node-192 #cloud .field-name-body {
  width: 100%;
  padding-right: 0;
  float: none;
}

/*.not-front.not-logged-in #cloud {display:none;}*/
@media handheld, only screen and (max-width: 767px) {
  /* line 1732, ../scss/template.scss */
  .page-node-192 #cloud {
    display: block;
  }
}
/* line 1737, ../scss/template.scss */
.page-node-14 #block-block-1 h2 {
  font-size: 25px;
}

/* line 1741, ../scss/template.scss */
.page-node-195 article.node-195 .field-name-body {
  width: 100%;
  padding-right: 0;
}

/* line 1746, ../scss/template.scss */
#block-webform-client-block-210 {
  margin: 30px 0;
}

/* line 1750, ../scss/template.scss */
#block-webform-client-block-210 .form-item {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;
}

/* line 1756, ../scss/template.scss */
#block-webform-client-block-210 h2 a {
  text-decoration: none;
  pointer-events: none;
}

/* line 1761, ../scss/template.scss */
#block-webform-client-block-210 .field-name-body p:first-of-type {
  margin-top: 0;
}

/* line 1765, ../scss/template.scss */
#block-webform-client-block-210 .webform-component--dienst {
  margin-right: 10px;
}

/* line 1769, ../scss/template.scss */
#block-webform-client-block-210 input.email {
  width: 200px;
  font-size: 10px;
  color: #808080;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 18px;
  line-height: 18px;
  margin: 5px 0;
  padding: 0 5px;
  -webkit-box-shadow: inset 0 2px 5px 2px #E3E3E3;
  box-shadow: inset 0 2px 5px 2px #E3E3E3;
}

/* line 1785, ../scss/template.scss */
#block-webform-client-block-210 .form-submit {
  color: #fff;
  background-image: url(../images/arrow-right.png), -webkit-gradient(linear, left top, right top, color-stop(0, #F31831), color-stop(1, #B41424));
  background-image: url(../images/arrow-right.png), -o-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), -moz-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), -webkit-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), -ms-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), linear-gradient(to right, #f31831 0%, #b41424 100%);
  display: inline-block;
  padding: 0 24px 0 10px;
  text-decoration: none;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  border: 1px solid #b61c32;
  background-repeat: no-repeat;
  background-position: right 10px center, 0;
  transition: padding-right 1s;
}

/* line 1805, ../scss/template.scss */
#block-mailchimp-signup-nieuwsbrief-aanmelden .mailchimp-signup-subscribe-form-description {
  margin-top: 1.5em;
}

/* line 1809, ../scss/template.scss */
#block-mailchimp-signup-nieuwsbrief-aanmelden .form-type-textfield > label {
  display: none;
}

/* line 1813, ../scss/template.scss */
#block-mailchimp-signup-nieuwsbrief-aanmelden .form-type-textfield > input {
  width: 100%;
  font-size: 10px;
  color: #808080;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 18px;
  line-height: 18px;
  margin: 5px 0;
  padding: 0 5px;
  -webkit-box-shadow: inset 0 2px 5px 2px #E3E3E3;
  box-shadow: inset 0 2px 5px 2px #E3E3E3;
}

/* line 1829, ../scss/template.scss */
#block-mailchimp-signup-nieuwsbrief-aanmelden input.form-submit {
  font-size: 10px;
  float: right;
  width: auto;
  background: none;
  border: 0;
  color: #fff;
  font-style: italic;
  padding: 0;
  font-weight: bold;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* lettertype grote */
/* line 1844, ../scss/template.scss */
#header #om-menu-menu-hoofdmenu-ul-wrapper > ul > li > a {
  font-size: 13px;
  padding: 0 30px;
  letter-spacing: 1px;
}

/* line 1850, ../scss/template.scss */
.pager {
  display: inline-block;
  width: 100%;
  margin-top: 50px;
}

/* line 1856, ../scss/template.scss */
#header ul .om-maximenu-middle .view.view-diensten-dropdown {
  padding-bottom: 0;
}

/* line 1860, ../scss/template.scss */
#header ul .om-maximenu-middle .block-menu.block-menu-id-menu-energiebesparen-menu {
  padding-top: 0;
}

/* line 1864, ../scss/template.scss */
.node-251 {
  width: 75%;
  float: left;
  padding-right: 10px;
}

/* line 1870, ../scss/template.scss */
#block-webform-client-block-252 {
  width: 25%;
  float: left;
}

/* line 1875, ../scss/template.scss */
#block-webform-client-block-252 .node-title a {
  text-decoration: none;
  pointer-events: none;
}

/* line 1880, ../scss/template.scss */
#block-webform-client-block-252 .form-item {
  margin: 0;
}

/* line 1884, ../scss/template.scss */
#block-webform-client-block-252 .field-name-body {
  width: 100%;
  padding-right: 0;
}

/* line 1889, ../scss/template.scss */
#block-webform-client-block-252 input.form-text,
#block-webform-client-block-252 input.form-email {
  width: 100%;
  font-size: 10px;
  color: #808080;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 18px;
  line-height: 18px;
  margin: 5px 0;
  padding: 0 5px;
  -webkit-box-shadow: inset 0 2px 5px 2px #E3E3E3;
  box-shadow: inset 0 2px 5px 2px #E3E3E3;
}

/* line 1906, ../scss/template.scss */
input.webform-submit {
  float: right;
  background: #cd1619 url(../images/arrow-white.png);
  color: #fff;
  background-image: url(../images/arrow-right.png), -webkit-gradient(linear, left top, right top, color-stop(0, #F31831), color-stop(1, #B41424));
  background-image: url(../images/arrow-right.png), -o-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), -moz-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), -webkit-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), -ms-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), linear-gradient(to right, #f31831 0%, #b41424 100%);
  display: inline-block;
  padding: 2px 24px 3px 10px;
  text-decoration: none;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  border: 1px solid #b61c32;
  background-repeat: no-repeat;
  background-position: right 10px center, 0;
  margin: 20px 0;
  transition: padding-right 1s;
}

/* line 1929, ../scss/template.scss */
.node-type-standaard-pagina article.node-251 .field-name-body {
  width: 100%;
  padding-right: 0;
}

/* line 1935, ../scss/template.scss */
#lightbox2-overlay {
  background: url(../images/trans30.png);
}

/* line 1939, ../scss/template.scss */
#popupmelding {
  background: rgba(0, 0, 0, 0.53);
  font-size: 15px;
  line-height: 18px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  color: #fff;
  text-align: center;
}

/* line 1954, ../scss/template.scss */
#popupmelding .popuptekst {
  padding: 50px;
  position: relative;
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}

/* line 1962, ../scss/template.scss */
#popupmelding .popupbg {
  background: url(../images/redtexture.gif);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  z-index: 800;
}

/* line 1973, ../scss/template.scss */
#popupmelding .popupinhoud {
  position: relative;
  z-index: 801;
  border: 1px solid #000;
  background-image: url(../images/popuprood.png);
  background-repeat: repeat-x;
  background-position: top left;
}

/*#popupmelding.actief {display:block;}*/
/* line 1983, ../scss/template.scss */
#popupmelding.actief {
  display: block;
}

/* line 1987, ../scss/template.scss */
#popupmelding .popuptitel1,
#popupmelding .popuptitel2 {
  font-size: 1.6em;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  margin: 32px 0 10px;
  display: inline-block;
}

/* line 1997, ../scss/template.scss */
#popupmelding .popupsluiten {
  margin-top: 50px;
}

/* line 2001, ../scss/template.scss */
#popupmelding .popupboven {
  background-image: url(../images/watermerkje.png);
  background-repeat: no-repeat;
  background-position: 96% 20px;
  height: 329px;
  display: inline-block;
  width: 100%;
  font-size: 17px;
  line-height: 26px;
  padding: 10px;
}

/* line 2013, ../scss/template.scss */
#popupmelding .popuponder {
  background-image: url(../images/popup-logo.png);
  background-repeat: no-repeat;
  background-position: 97% 90%;
  background-color: #fff;
  height: 271px;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px;
}

/* line 2025, ../scss/template.scss */
#popupmelding .popuptitel1 {
  margin-top: 100px;
  font-size: 36px;
  line-height: 42px;
}

/* line 2031, ../scss/template.scss */
#popupmelding .popupsluiten {
  background-image: url(../images/knopje.png);
  background-repeat: no-repeat;
  width: 262px;
  height: 95px;
  line-height: 91px;
  display: inline-block;
  font-size: 21px;
  margin-top: 84px;
}

/* line 2042, ../scss/template.scss */
#popupmelding .popupsluiten2 {
  background-image: url(../images/exit.png);
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* line 2053, ../scss/template.scss */
.page-node-260 .region-headersliderleeg .foto {
  height: 580px;
  background-image: url(http://www.fledderman.nl/sites/all/themes/fledderman/images/Kuststof_kozijnen_fledderman.jpg) !important;
  background-size: inherit !important;
}

/* line 2059, ../scss/template.scss */
.page-node-260 .region-headersliderleeg .foto .whiteover {
  background: transparent;
}

/* line 2063, ../scss/template.scss */
.page-node-260 #logo {
  margin-top: 60px;
}

/* line 2067, ../scss/template.scss */
.page-node-260 .region-headersliderleeg {
  height: auto;
}

/* line 1, ../scss/_lennert.scss */
.page-node-14 #inhoud article,
.page-node-14 .contactleft,
.page-node-16 #inhoud article,
.page-node-16 .contactleft {
  width: 50%;
  *width: 48.28%;
  float: left;
  padding-right: 20px;
}

/* line 6, ../scss/_lennert.scss */
.page-node-14 .webform-client-form input[type=text],
.page-node-16 .webform-client-form input[type=text],
.page-node-14 .webform-client-form input[type=email],
.page-node-16 .webform-client-form input[type=email] {
  width: 100%;
  font-size: 10px;
  color: #808080;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 18px;
  line-height: 18px;
  margin: 5px 0;
  padding: 0 5px;
  -webkit-box-shadow: inset 0 2px 5px 2px #E3E3E3;
  box-shadow: inset 0 2px 5px 2px #E3E3E3;
}

/* line 10, ../scss/_lennert.scss */
.page-node-14 .webform-client-form textarea,
.page-node-16 .webform-client-form textarea {
  width: 100%;
  font-size: 10px;
  color: #808080;
  border: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 100px;
  line-height: 18px;
  margin: 5px 0;
  padding: 0 5px;
  -webkit-box-shadow: inset 0 2px 5px 2px #E3E3E3;
  box-shadow: inset 0 2px 5px 2px #E3E3E3;
}

/* line 12, ../scss/_lennert.scss */
.page-node-14 .webform-client-form,
.page-node-16 .webform-client-form {
  width: 50%;
}

/* line 14, ../scss/_lennert.scss */
.page-node-14 .webform-client-form .form-item,
.page-node-16 .webform-client-form .form-item {
  margin: 0;
}

/* line 16, ../scss/_lennert.scss */
.page-node-14 .webform-client-form input#edit-submitted-telefoonnummer,
.page-node-16 .webform-client-form input#edit-submitted-telefoonnummer {
  float: left;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}

/* line 18, ../scss/_lennert.scss */
#edit-submitted-schaderapport .form-submit {
  background: #e5e5e5 url(../images/submit-form.png) no-repeat center;
  border: 0;
  font-size: 0;
  float: right;
  float: left;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  border-left: 1px solid #cbcbcb;
}

/*.page-node-14 .webform-client-form #webform-component-telefoonnummer,*/
/* line 20, ../scss/_lennert.scss */
#edit-submitted-schaderapport #edit-submitted-schaderapport-upload {
  width: 93%;
  float: left;
}

/* line 21, ../scss/_lennert.scss */
.page-node-14 .webform-client-form #edit-submit,
#cloud .form-submit,
#cloud #edit-submit--2,
.page-node-14 .webform-client-form .form-submit,
.page-node-16 .webform-client-form #edit-submit,
.page-node-16 .webform-client-form .form-submit {
  background: #cd1619 url(../images/arrow-white.png);
  color: #fff;
  background-image: url(../images/arrow-right.png), -webkit-gradient(linear, left top, right top, color-stop(0, #F31831), color-stop(1, #B41424));
  background-image: url(../images/arrow-right.png), -o-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), -moz-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), -webkit-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), -ms-linear-gradient(right, #F31831 0%, #B41424 100%);
  background-image: url(../images/arrow-right.png), linear-gradient(to right, #f31831 0%, #b41424 100%);
  display: inline-block;
  padding: 0 24px 0 10px;
  text-decoration: none;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  border: 1px solid #b61c32;
  background-repeat: no-repeat;
  background-position: right 10px center, 0;
  margin: 20px 0;
  transition: padding-right 1s;
  width: auto;
  float: right;
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 15px;
  font-size: 11px;
}

/* line 28, ../scss/_lennert.scss */
.page-node-14 .webform-client-form .form-submit,
.page-node-16 .webform-client-form .form-submit {
  float: left;
}

/* line 30, ../scss/_lennert.scss */
.page-node-14 #block-multiblock-1 h2,
.page-node-14 #block-multiblock-1 article.node-16 header,
.page-node-14 #block-multiblock-1 .field-name-body,
.page-node-16 #block-multiblock-1 h2,
.page-node-16 #block-multiblock-1 article.node-16 header,
.page-node-16 #block-multiblock-1 .field-name-body {
  display: none;
}

/* line 36, ../scss/_lennert.scss */
.page-node-14 #block-multiblock-1 .webform-client-form,
.page-node-16 #block-multiblock-1 .webform-client-form {
  width: 100%;
}
